<div class="content-wrapper" >
	<div class="page-header">
		<h3 class="page-title"> Return </h3>
		<!-- <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Return</a></li>
				<li class="breadcrumb-item active" aria-current="page">Edit Return</li>
			</ol>
		</nav> -->
	</div>
	<div class="row justify-content-center">
    <div class="col-md-8 col-sm-10 col-12 grid-margin stretch-card">
      <div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0" *ngIf="id">Edit Return</h4>
          <h4 class="card-title mb-0" *ngIf="!id">Add New Return</h4>
				</div>
        <div class="card-body">
          <div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
					<!-- form start -->
					<form [formGroup]="addreturnForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="form-group">
							<label for="exampleInputEmail1">Order</label>
							<select name="order_id" #selectedOrder formControlName="order_id" class="form-control" (change)="selectOrder($event,selectedOrder.value)">
								<option value="">Select Order</option>
								<option value="{{order._id}}" *ngFor="let order of returnData.orderData">{{order.order_number}}</option>
							</select>
							<span *ngIf="submitted && hasError('order_id','required')" class="alert-danger">Please Select Status</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Product</label>
							<select name="product" formControlName="product" class="form-control">
								<option value="">Select Product</option>
								<option value="{{product._id}}" *ngFor="let product of returnData.products">{{product.name}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Reasons</label>
							<select name="return_reason" formControlName="return_reason" class="form-control">
								<option value="">Select Reasons</option>
								<option value="{{reason._id}}" *ngFor="let reason of reasonData">{{reason.name}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Resolutions</label>
							<select name="resolution" formControlName="resolution" class="form-control">
								<option value="">Select Resolutions</option>
								<option value="Pending">Pending</option>
								<option value="RefundtoWallet">Refund to Miniaar Wallet</option>
                <option value="RefundtoBank">Refund to Bank Account</option>
								<option value="Repair">Repair</option>
								<option value="Replacement">Replacement</option>
							</select>
							<span *ngIf="submitted && hasError('resolution','required')" class="alert-danger">Please Select Status</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Return Status</label>
							<select name="return_status" formControlName="return_status" class="form-control">
								<option value="">Select Return Status</option>
								<option value="Pending">Pending</option>
								<option value="Processing">Processing</option>
								<option value="RefundtoWallet">Refund to Miniaar Wallet</option>
                <option value="RefundtoBank">Refund to Bank Account</option>
								<option value="Returned">Returned</option>
								<option value="Replacement">Replacement</option>
								<option value="Canceled">Canceled</option>								
							</select>
							<span *ngIf="submitted && hasError('return_status','required')" class="alert-danger">Please Select Status</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Return Quantity</label>
							<input type="number" name="return_quantity" autocomplete="off" formControlName="return_quantity" class="form-control"
								placeholder="Return Quantity">
							<span *ngIf="submitted && hasError('return_quantity','required')" class="alert-danger">Return Quantity is
								required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Comments</label>
							<textarea name="return_comments" rows="3" autocomplete="off" formControlName="return_comments" class="form-control"
								placeholder="Return Comments"></textarea>
							<span *ngIf="submitted && hasError('return_comments','required')" class="alert-danger">Return Comments is
								required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Status</label>
							<select name="status" formControlName="status" class="form-control">
								<option value="">Select Status</option>
								<option value="true">Active</option>
								<option value="false">Deactive</option>
							</select>
							<span *ngIf="submitted && hasError('status','required')" class="alert-danger">Please Select Status</span>
						</div>
						<div class="box-footer d-flex">
							<button type="submit" class="btn btn-button mr-2">Submit</button>
							<!-- <button type="cancel" (click)="onCancel()" class="btn btn-button">Cancel</button> -->
							<button type="cancel" class="btn btn-button" routerLink="/return/view">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
