<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
	style="min-height: 400px;  background-size: cover; background-position: center top;">
	<!-- Mask -->
	<span class="mask bg-gradient-info opacity-8"></span>
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col-lg-7 col-md-10">
				<!-- <h1 class="display-2 text-white">Services </h1>
				<p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with
					your work and manage your projects or assigned tasks</p> -->
				<!-- <a href="#!" class="btn btn-info">Edit Pages</a> -->
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt--7">
	<div class="row">
		<div class="col-xl-12 order-xl-1">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<!-- <h3 class="mb-0">Update/Edit Services</h3> -->
							<h3 class="mb-0" *ngIf="id">Update/Edit Project Status</h3>
							<h3 class="mb-0" *ngIf="!id">Add New Project Status</h3>
						</div>
					</div>
					<div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
				</div>
				<div class="card-body">
					<!-- form start -->
					<form [formGroup]="addcategoryForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="box-body">
							<div class="form-group">
								<label for="exampleInputEmail1">Project Status Name <span>*</span></label>
								<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
									placeholder="Project Status">
								<span *ngIf="submitted && hasError('name','required')" class="alert-danger">Service Name is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Sequence Number</label>
								<input type="number" name="sequence_number" autocomplete="off" formControlName="sequence_number"
									class="form-control" placeholder="Sequence Number">
								<span *ngIf="submitted && hasError('sequence_number','required')" class="alert-danger">Sequence Number
									is required</span>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Status </label>
								<select name="status" formControlName="status" class="form-control">
									<option value="true">Active</option>
									<option value="false">InActive</option>
								</select>
								<span *ngIf="submitted && hasError('status','required')" class="alert-danger">Please Select
									Status</span>
							</div>

						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="cancel" (click)="onCancel()" class="btn btn-danger">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Image/Model Popup -->
<ng-template #media let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Upload Image/Video</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="addmediaForm" (ngSubmit)="onSubmitMedia('image')">
			<div class="form-group">
				<label for="exampleInputEmail1">Name</label>
				<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
					placeholder="Media Name">
				<span *ngIf="submittedMedia && hasMediaFormError('name','required')" class="alert-danger">File Name is
					required</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">File Type</label>
				<select name="file_type" formControlName="file_type" class="form-control">
					<option value="">Select File Type</option>
					<option value="image">Image</option>
					<option value="video">Video</option>
				</select>
				<span *ngIf="submittedMedia && hasMediaFormError('file_type','required')" class="alert-danger">Please
					Select
					File Type</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Alt</label>
				<input type="text" name="alt" autocomplete="off" formControlName="alt" class="form-control"
					placeholder="Alt Tag">
				<span *ngIf="submitted && hasMediaFormError('alt','required')" class="alert-danger">Alt is required</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'image'">
				<label for="exampleInputEmail1">Media Image</label>
				<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutputMedia($event,'image')"
					[uploadInput]="uploadInput" accept="image/*" />
				<img *ngIf="mediaFile" alt="logo" style="height: 100px; width: 100px;margin-top: 5px;"
					src="{{imagePath}}category/{{mediaFile}}">
				<span *ngIf="submittedMedia && hasMediaFormError('src','required')" class="alert-danger">Please Select
					Image</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Media Video</label>
				<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadVideo($event,'image')"
					[uploadInput]="uploadInput" accept="video/*" />
				<video width="320" height="240" *ngIf="mediaFile" controls>
					<source src="{{imagePath}}category/{{mediaFile}}" type="video/mp4">
				</video>
				<span *ngIf="submittedMedia && hasMediaFormError('src','required')" class="alert-danger">Please Select
					Video</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'image'">
				<label for="exampleInputEmail1">Role</label>
				<select name="role" #selectRole formControlName="role" class="form-control"
					(change)="selectImageRole($event,selectRole.value)">
					<option value="">Select Role</option>
					<option value="base">Base</option>
					<option value="small">Small</option>
					<option value="thumbnail">Thumbnail</option>
				</select>
				<span *ngIf="submittedMedia && hasMediaFormError('role','required')" class="alert-danger">Please Select
					Role</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Height</label>
				<input type="number" name="height" autocomplete="off" formControlName="height" class="form-control"
					placeholder="Height">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Width</label>
				<input type="number" name="width" autocomplete="off" formControlName="width" class="form-control"
					placeholder="Width">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Sequence Number</label>
				<input type="number" name="sequence_number" autocomplete="off" formControlName="sequence_number"
					class="form-control" placeholder="Sequence Number">
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Mute</label>
				<input type="text" name="mute" autocomplete="off" formControlName="mute" class="form-control"
					placeholder="Mute">
				<span *ngIf="submitted && hasMediaFormError('mute','required')" class="alert-danger">Mute is required</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Autoplay</label>
				<select name="autoplay" formControlName="autoplay" class="form-control">
					<option value="">Select Autoplay</option>
					<option value="true">Active</option>
					<option value="false">Deactive</option>
				</select>
				<span *ngIf="submitted && hasMediaFormError('autoplay','required')" class="alert-danger">Please Select
					Autoplay</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Select Loop</label>
				<select name="loop" formControlName="loop" class="form-control">
					<option value="">Select Loop</option>
					<option value="true">Active</option>
					<option value="false">Deactive</option>
				</select>
				<span *ngIf="submitted && hasMediaFormError('loop','required')" class="alert-danger">Please Select Loop</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Full Screen</label>
				<input type="text" name="full_screen" autocomplete="off" formControlName="full_screen" class="form-control"
					placeholder="Full Screen">
				<span *ngIf="submitted && hasMediaFormError('full_screen','required')" class="alert-danger">Full Screen is
					required</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Select Status</label>
				<select name="status" formControlName="status" class="form-control">
					<option value="">Select Status</option>
					<option value="true">Active</option>
					<option value="false">Deactive</option>
				</select>
				<span *ngIf="submittedMedia && hasMediaFormError('status','required')" class="alert-danger">Please
					Select Status</span>
			</div>
			<div class="box-footer d-flex">
				<button class="btn btn-button mr-2">Submit</button>
				<button type="cancel" (click)="onCancelMedia()" class="btn btn-button">Cancel</button>
			</div>
		</form>
	</div>
	<!-- <div class="modal-footer">
		<button type="button" class="btn btn-smallbutton" (click)="modal.close('Close click')">Close</button>
	</div> -->
</ng-template>

<!-- gallery popup model -->
<ng-template #gallery let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Upload Image/Video</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="addmediaForm" (ngSubmit)="onSubmitMedia('gallery')">
			<div class="form-group">
				<label for="exampleInputEmail1">Name</label>
				<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
					placeholder="Media Name">
				<span *ngIf="submittedMedia && hasMediaFormError('name','required')" class="alert-danger">File Name is
					required</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">File Type</label>
				<select name="file_type" formControlName="file_type" class="form-control">
					<option value="">Select File Type</option>
					<option value="image">Image</option>
					<option value="video">Video</option>
				</select>
				<span *ngIf="submittedMedia && hasMediaFormError('file_type','required')" class="alert-danger">Please
					Select
					File Type</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Alt</label>
				<input type="text" name="alt" autocomplete="off" formControlName="alt" class="form-control"
					placeholder="Alt Tag">
				<span *ngIf="submitted && hasMediaFormError('alt','required')" class="alert-danger">Alt is required</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'image'">
				<label for="exampleInputEmail1">Media Image</label>
				<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutputMedia($event,'gallery')"
					[uploadInput]="uploadInput" accept="image/*" />
				<img *ngIf="galleryFile" alt="logo" style="height: 100px; width: 100px;margin-top: 5px;"
					src="{{imagePath}}category/{{galleryFile}}">
				<span *ngIf="submittedMedia && hasMediaFormError('src','required')" class="alert-danger">Please Select
					Image</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Media Video</label>
				<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadVideo($event,'gallery')"
					[uploadInput]="uploadInput" accept="video/*" />
				<video width="320" height="240" *ngIf="galleryFile" controls>
					<source src="{{imagePath}}category/{{galleryFile}}" type="video/mp4">
				</video>
				<span *ngIf="submittedMedia && hasMediaFormError('src','required')" class="alert-danger">Please Select
					Video</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'image'">
				<label for="exampleInputEmail1">Role</label>
				<select name="role" #selectRole formControlName="role" class="form-control"
					(change)="selectImageRole($event,selectRole.value)">
					<option value="">Select Role</option>
					<option value="base">Base</option>
					<option value="small">Small</option>
					<option value="thumbnail">Thumbnail</option>
				</select>
				<span *ngIf="submittedMedia && hasMediaFormError('role','required')" class="alert-danger">Please Select
					Role</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Height</label>
				<input type="number" name="height" autocomplete="off" formControlName="height" class="form-control"
					placeholder="Height">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Width</label>
				<input type="number" name="width" autocomplete="off" formControlName="width" class="form-control"
					placeholder="Width">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Sequence Number</label>
				<input type="number" name="sequence_number" autocomplete="off" formControlName="sequence_number"
					class="form-control" placeholder="Sequence Number">
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Mute</label>
				<input type="text" name="mute" autocomplete="off" formControlName="mute" class="form-control"
					placeholder="Mute">
				<span *ngIf="submitted && hasMediaFormError('mute','required')" class="alert-danger">Mute is required</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Autoplay</label>
				<select name="autoplay" formControlName="autoplay" class="form-control">
					<option value="">Select Autoplay</option>
					<option value="true">Active</option>
					<option value="false">Deactive</option>
				</select>
				<span *ngIf="submitted && hasMediaFormError('autoplay','required')" class="alert-danger">Please Select
					Autoplay</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Select Loop</label>
				<select name="loop" formControlName="loop" class="form-control">
					<option value="">Select Loop</option>
					<option value="true">Active</option>
					<option value="false">Deactive</option>
				</select>
				<span *ngIf="submitted && hasMediaFormError('loop','required')" class="alert-danger">Please Select Loop</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Full Screen</label>
				<input type="text" name="full_screen" autocomplete="off" formControlName="full_screen" class="form-control"
					placeholder="Full Screen">
				<span *ngIf="submitted && hasMediaFormError('full_screen','required')" class="alert-danger">Full Screen is
					required</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Select Status</label>
				<select name="status" formControlName="status" class="form-control">
					<option value="">Select Status</option>
					<option value="true">Active</option>
					<option value="false">Deactive</option>
				</select>
				<span *ngIf="submittedMedia && hasMediaFormError('status','required')" class="alert-danger">Please
					Select Status</span>
			</div>
			<div class="box-footer d-flex">
				<button class="btn btn-button mr-2">Submit</button>
				<button type="cancel" (click)="onCancelMedia()" class="btn btn-button">Cancel</button>
			</div>
		</form>
	</div>
	<!-- <div class="modal-footer">
		<button type="button" class="btn btn-smallbutton" (click)="modal.close('Close click')">Close</button>
	</div> -->
</ng-template>