<div class="container-fluid mt--7">
	<div class="page-header">
		<h3 class="page-title">Wallet</h3>
	</div>
	<div class="row">
		<div class="col-xl-12 order-xl-1">
			<div class="card  shadow">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col-md-8 col-sm-10 col-12">
							<h3 class="mb-0">Edit Wallet</h3>
						</div>
					</div>
					<div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
				</div>
				<div class="card-body">
					<div class="col-md-12">
						<div class="row">
							<button type="submit" (click)="open(content)" class="btn btn-button mb-4">Change Balance</button>
						</div>
					</div>

					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>Balance</th>
									<th>Available Balance</th>
									<th>Payment Method</th>
									<th>Type</th>
									<th>Status</th>
									<th>Updated At</th>
									<th>Created At</th>
								</tr>
							</thead>
							<tbody>
								<td colspan="6" *ngIf="walletTransactions.length == 0">
									<div class="alert alert-dismissable" style="text-align: center;">
										Wallet List is Empty
									</div>
								</td>
								<tr *ngFor="let listPromo of walletTransactions;let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>{{listPromo.amount}}</td>
									<td>{{listPromo.available_balance}}</td>
									<td>{{listPromo.paymentMethod}}</td>
									<td>{{listPromo.transaction_type}}</td>
									<td>{{listPromo.status}}</td>
									<td>{{listPromo.updated_at | date: 'dd/MMM/yyyy hh:mm a' }}</td>
									<td>{{listPromo.created_at | date: 'dd/MMM/yyyy hh:mm a'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #content let-modal style="z-index: 0;">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">Update Wallet Balance</h4>
		<button type="button" class="btn btn-button" aria-describedby="modal-title"
			(click)="modal.dismiss('Cross click')">close</button>
	</div>
	<div class="modal-body">
		<p>
			<strong>Are you sure you want to change Wallet Balance?</strong>
		</p>
		<div>
			<form [formGroup]="addPromoForm" (ngSubmit)="onSubmit()" method="post" novalidate>
				<div class="box-body">
					<div class="form-group">
						<label for="exampleInputEmail1">Wallet Balance</label>
						<input type="text" name="balance" autocomplete="off" formControlName="balance" class="form-control"
							placeholder="Wallet Name">
						<span *ngIf="submitted && hasError('balance','required')" class="alert-danger">Wallet Balance is
							required</span>
						<span *ngIf="submitted && hasError('balance','required')" class="alert-danger">Please Enter the Wallet
							Balance</span>
					</div>
				</div>
				<div class="box-footer d-flex">
					<button type="submit" class="btn btn-button mr-2">Submit</button>
					<button type="cancel" (click)="modal.dismiss('cancel click')" class="btn btn-button">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</ng-template>