<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title"> Customer </h3>
		<!-- <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Customer</a></li>
				<li class="breadcrumb-item active" aria-current="page">Edit Customer</li>
			</ol>
		</nav> -->
	</div>
	<div class="row justify-content-center">
		<div class="col-md-8 col-sm-10 col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0" *ngIf="id">Edit Customer</h4>
					<h4 class="card-title mb-0" *ngIf="!id">Add New Customer</h4>
				</div>
				<div class="card-body">
					
					<div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
					<!-- form start -->
					<form [formGroup]="addcustomerForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="box-body">
							<div class="form-group col-md-11 mx-auto">
								<label for="exampleInputEmail1">User Name</label>
								<input type="text" name="username" autocomplete="off" formControlName="username" class="form-control"
									placeholder="UserName">
								<span *ngIf="submitted && hasError('username','required')" class="alert-danger">Customer UserName is
									required</span>
							</div>
							<div class="form-group col-md-11 mx-auto">
								<label for="exampleInputEmail1">First Name</label>
								<input type="text" name="firstname" autocomplete="off" formControlName="firstname" class="form-control"
									placeholder="First Name">
								<span *ngIf="submitted && hasError('firstname','required')" class="alert-danger">Customer First Name is
									required</span>
							</div>
							<div class="form-group col-md-11 mx-auto">
								<label for="exampleInputEmail1">Last Name</label>
								<input type="text" name="lastname" autocomplete="off" formControlName="lastname" class="form-control"
									placeholder="Last Name">
								<span *ngIf="submitted && hasError('lastname','required')" class="alert-danger">Customer Last Name is
									required</span>
							</div>
							<div class="form-group col-md-11 mx-auto">
								<label for="exampleInputEmail1">Email</label>
								<input type="email" name="email" autocomplete="off" formControlName="email" class="form-control"
									placeholder="Email">
								<span *ngIf="submitted && hasEmailError('email','required')" class="alert-danger"> {{
									hasEmailError('email','required')}}</span>
							</div>
							<div class="form-group col-md-11 mx-auto">
								<label for="exampleInputEmail1">Mobile</label>
								<input type="number" name="mobile" autocomplete="off" formControlName="mobile" class="form-control"
									placeholder="Mobile Number">
								<span *ngIf="submitted && hasError('mobile','required')" class="alert-danger">Mobile Number is
									required</span>
							</div>
							<div class="form-group col-md-11 mx-auto" *ngIf="!id">
								<label for="exampleInputEmail1">Password</label>
								<input type="text" name="password" autocomplete="off" formControlName="password" class="form-control"
									placeholder="Password">
								<span *ngIf="submitted && hasError('password','required')" class="alert-danger">Password is
									required</span>
							</div>
							<div class="form-group col-md-11 mx-auto" *ngIf="!id">
								<label for="exampleInputEmail1">Confirm Password</label>
								<input type="text" name="confirm_password" autocomplete="off" formControlName="confirm_password"
									class="form-control" placeholder="Confirm Password">
								<span *ngIf="submitted && hasError('confirm_password','required')" class="alert-danger">Confirm Password
									is required</span>
							</div>
							<div class="form-group col-md-11 mx-auto">
								<label for="exampleInputEmail1">Groups</label>
								<select name="customer_group" formControlName="customer_group" class="form-control">
									<option value="">Select Groups</option>
									<option value="{{group._id}}" *ngFor="let group of customerGroups; let j = index">
										{{group.name}}</option>
								</select>
								<span *ngIf="submitted && hasError('customer_group','required')" class="alert-danger">Groups is
									required</span>
							</div>
							<div class="form-group col-md-11 mx-auto">
								<label for="exampleInputEmail1">Role</label>
								<select name="role" formControlName="role" class="form-control">
									<option value="">Select Role</option>
									<option value="admin">Admin</option>
									<option value="user">User</option>
								</select>
								<span *ngIf="submitted && hasError('status','required')" class="alert-danger">Please Select
									Status</span>
							</div>
							<div class="form-group col-md-11 mx-auto">
								<label for="exampleInputEmail1">Status</label>
								<select name="status" formControlName="status" class="form-control">
									<option value="">Select Status</option>
									<option value="true">Active</option>
									<option value="false">Deactive</option>
								</select>
								<span *ngIf="submitted && hasError('status','required')" class="alert-danger">Please Select
									Status</span>
							</div>
						</div>
						<div class="col-md-11 mx-auto">
							<div class="box-footer d-flex">
								<button type="submit" class="btn btn-button mr-2">Submit</button>
								<button type="button" class="btn btn-button" routerLink="/customer/view">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>