<!-- <div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
	<div class="container-fluid">
		<div class="header-body">
		 

		</div>
	</div>
</div> -->
<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0">Product List</h3>
				</div>
				<div class="card-body">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<input class="form-control" type="text" (keyup)="searchProduct()" name="search" [(ngModel)]="searchText"
									autocomplete="off" placeholder="&#61442;  Start searching a Product by Keyword">
							</div>
							<div class="col-md-6">
								<div class="text-right">
									<button type="button" class="btn btn-button ml-auto" (click)="openDisplayonHome(displayonhome)">Add
										Product</button>
								</div>
							</div>
							<!-- <div class="col-md-2">
              <label>Filter : </label>
              <ng-toggle name="isFilterActive" [(ngModel)]="isFilterActive" class="toogle_btn"
                [disabled]="config.disabled" [width]="config.width" [height]="config.height" [margin]="config.margin"
                [labels]="config.labels" [color]="config.color" [switchColor]="config.switchColor"
                [fontColor]="config.fontColor" [fontSize]="config.fontSize" (click)="toggelFilter()"
                required></ng-toggle>
            </div> -->
							<!-- <div class="col-md-2 col-sm-2 text-center text-md-right text-sm-right mt-2 mt-md-0">
              <strong>Products on page</strong>
              <select name="sort" id="page" (change)="onListChangeLimit($event)">
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
              </select>
            </div> -->
						</div>
					</div>
				</div>
				<div class="col-md-12" *ngIf="isFilterActive">
					<form>
						<div class="form-row">
							<div class="col-md-3 mb-3">
								<label>Product Id</label>
								<input class="form-control" type="text" name="_id" [(ngModel)]="_id"
									placeholder="&#61442;  Search a Product by Id">
							</div>
							<div class="col-md-3 mb-3">
								<label for="">Product name</label>
								<input class="form-control" type="text" name="name" [(ngModel)]="name"
									placeholder="&#61442;  Search a Product by name">
							</div>
							<div class="col-md-3 mb-3">
								<label for="">Price</label>
								<input class="form-control" type="number" name="filter_price_from" [(ngModel)]="filter_price_from"
									placeholder="From">
								<input class="form-control" type="number" name="filter_price_to" [(ngModel)]="filter_price_to"
									placeholder="To">
							</div>
							<div class="col-md-3 mb-3">
								<label for="">Quantity</label>
								<input class="form-control" type="number" name="filter_quantity_from" [(ngModel)]="filter_quantity_from"
									placeholder="From">
								<input class="form-control" type="number" name="filter_quantity_to" [(ngModel)]="filter_quantity_to"
									placeholder="To">
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-3 mb-3">
								<label for="">Product Sku</label>
								<input class="form-control" type="text" name="sku" [(ngModel)]="sku"
									placeholder="&#61442;  Search a Product by SKU">
							</div>
							<div class="col-md-3 mb-3">
								<label class="my-1 mr-2" for="">Product Type</label>
								<select class="custom-select my-1 mr-sm-2" id="" name="product_type" [(ngModel)]="product_type">
									<option value="">Choose...</option>
									<option value="configurable">Configurable</option>
									<option value="simple">Simple</option>
								</select>
							</div>
							<div class="col-md-3 mb-3">
								<label class="my-1 mr-2" for="">Product Visibility</label>
								<select class="custom-select my-1 mr-sm-2" id="" name="visibility" [(ngModel)]="visibility">
									<option value="">Choose...</option>
									<option value="none">None</option>
									<option value="catalog">Catalog</option>
									<option value="search">Search</option>
									<option value="catalog_search">Catalog & Search</option>
								</select>
							</div>
							<div class="col-md-3 mb-3">
								<label class="my-1 mr-2" for="">Product Status</label>
								<select class="custom-select my-1 mr-sm-2" id="" name="status" [(ngModel)]="status">
									<option>Choose...</option>
									<option value="true">Enable</option>
									<option value="false">Disable</option>
								</select>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-2 mb-2">
								<button class="btn btn-button" type="submit" (click)="applyFilter()">Apply Filter</button>
							</div>
							<div class="col-md-2 mb-2">
								<button class="btn btn-sm btn-button" (click)="clearFilter()">Clear Filter</button>
							</div>
						</div>
					</form>
				</div>
				<!-- <div class="col-md-6">
					<h4 class="title"></h4>
				</div> -->
				<div class="card-body">
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>Image</th>
									<th>Name</th>
									<th>SKU</th>
									<!-- <th>Type</th> -->
									<!-- <th>Regular Price</th> -->
									<!-- <th>Discount</th> -->
									<!-- <th>Sale Price</th> -->
									<th>Color</th>
									<!-- <th>Quantity</th> -->
									<!-- <th>Visibility</th> -->
									<th>Status</th>
									<th>Created At</th>
									<th>Updated At</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<td colspan="5" *ngIf="productData && productData.length == 0">
									<div class="alert alert-dismissable" style="text-align: center;">
										Product List is Empty
									</div>
								</td>
								<tr *ngFor="let cData of productData | filter:searchText; let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>
										<img *ngIf="cData.image_data && cData.image_data.length > 0 "
											src="{{imagePath}}/media/{{cData.image_data[0].src}}" alt="logo"
											style="height: 100px;width: 100px;">
										<video *ngIf="cData.video" width="100" height="100" controls>
											<source src="{{imagePath}}/media/{{cData.image_data[0].src}}" type="video/mp4">
										</video>
									</td>
									<td>{{cData.name}}</td>
									<td>{{cData.sku}}</td>
									<!-- <td>{{cData.product_type}}</td> -->
									<!-- <td>{{cData.regular_price}}</td> -->
									<!-- <td>{{cData.product_discount}} %</td> -->
									<!-- <td>{{cData.sale_price}}</td> -->
									<td>{{cData.colour_name}}</td>
									<!-- <td>{{cData.product_count}}</td> -->
									<!-- <td>{{cData.visibility}}</td> -->
									<td>{{cData.status == true ? 'Enabled':'Disable'}}</td>
									<td>{{cData.created_at | date: 'dd/MMM/yyyy'}}</td>
									<td>{{cData.updated_at | date: 'dd/MMM/yyyy'}}</td>
									<!-- <td>{{cData.created_at | date: 'dd/MMM/yyyy hh:mm a'}}</td>
                              <td>{{cData.updated_at | date: 'dd/MMM/yyyy hh:mm a'}}</td> -->
									<td>
										<a style="cursor:pointer;padding-left: 15px;" (click)="open(content,cData)">
											<i class="mdi mdi-close-box" aria-hidden="true"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pcommece-pagination" *ngIf="totalRecord > 0 && !searchText">
							<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
								(changePage)="onListChangePage($event)">
							</app-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #content let-modal style="z-index: 0;">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">Product</h4>
			<button type="button" class="btn btn-button" aria-describedby="modal-title"
				(click)="modal.dismiss('Cross click')">close</button>
		</div>
		<div class="modal-body">
			<p *ngIf="selectedProduct">
				<strong>Are you sure you want to delete <span class="text-primary">"{{selectedProduct.name}}"</span>
					Product?</strong>
			</p>
			<p>
				All information associated to this Product will be permanently deleted.
				<span class="text-danger">This operation can not be undone.</span>
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-button" (click)="modal.dismiss('cancel click')">Cancel</button>
			<button type="button" class="btn btn-button" (click)="deleteProduct()">Ok</button>
		</div>
	</ng-template>

	<ng-template #displayonhome let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Add Display on Home Products</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body" *ngIf="disbaledproductData.length == 0">
			<!-- Page content -->
			<div class="container">
				<!-- Table -->
				<div class="row">
					<div class="col">
						<div class="card shadow">
							<div class="card-body">
								<div class="col-md-12">
									<h4>Record Not Found</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-body" *ngIf="disbaledproductData && disbaledproductData.length > 0">
			<!-- Page content -->
			<div class="container">
				<!-- Table -->
				<div class="row">
					<div class="col">
						<div class="card shadow">
							<div class="card-body">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-6">
											<input class="form-control mb-4" type="text" (keyup)="searchDisplayProduct()" name="search"
												[(ngModel)]="searchTextdisplay" autocomplete="off"
												placeholder="&#61442;  Start searching a Product by name">
										</div>
									</div>
								</div>
								<div class="table-responsive">
									<table class="table align-items-center table-flush">
										<thead>
											<tr>
												<th>SL No</th>
												<th>Image</th>
												<th>Name</th>
												<th>SKU</th>
												<th>Status</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let cData of disbaledproductData | filter:searchTextdisplay; let i = index">
												<td *ngIf="currentPage == 1">{{i+1}}</td>
												<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
												<td>
													<img *ngIf="cData.image_data && cData.image_data.length > 0 "
														src="{{imagePath}}/media/{{cData.image_data[0].src}}" alt="logo"
														style="height: 100px;width: 100px;">
													<video *ngIf="cData.video" width="100" height="100" controls>
														<source src="{{imagePath}}/media/{{cData.image_data[0].src}}" type="video/mp4">
													</video>
												</td>
												<td>{{cData.name}}</td>
												<td>{{cData.sku}}</td>
												<td>{{cData.status == true ? 'Enabled':'Disable'}}</td>
												<td>
													<a style="cursor:pointer;padding-left: 15px;" (click)="addDisplayonHomeProduct(cData,i)"><i
															class="mdi mdi-plus-box" aria-hidden="true"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pcommece-pagination" *ngIf="totaldisbaledRecord > 0 && !searchTextdisplay">
										<app-pagination #pagination [initialPage]="currentPage" [count]="totaldisbaledRecord"
											(changePage)="onAvailListChangePage($event)"></app-pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-button" (click)="modal.close('Close click')">Close</button>
		</div>
	</ng-template>