<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
      <div class="col">
          <div class="card shadow">
              <div class="card-header border-0">
                  <h3 class="mb-0">Authors List</h3>
              </div>
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-6">
                          <h4 class="title">
                              <input class="form-control" type="text" (keyup)="searchAuthor()" name="search" [(ngModel)]="searchText"
                                        autocomplete="off" placeholder="&#61442;  Start searching a User by name ">
                          </h4>
                      </div>
                      <div class="col-md-6"><button type="button" class="btn btn-button pull-right ml-auto mt-4"
                              routerLink="/author/add">Add Author</button></div>
                  </div>
                  <div class="col-md-6">
                      <h4 class="title"></h4>
                  </div>
              </div>
              <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                      <thead>
                          <tr>
                              <th>SL No</th>
                              <th>Author Name</th>
                              <th>Author Title</th>
                              <th>Author Image</th>
                              <th>Social</th>
                              <th>Status</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <td colspan="6" *ngIf="!authorData">
                              <div class="alert alert-dismissable" style="text-align: center;color: #ffffff;">
                                  Author List is Empty
                              </div>
                          </td>
                          <tr *ngFor="let listAuthor of authorData | filter:searchText; let i = index">
                              <td *ngIf="currentPage == 1">{{i+1}}</td>
                              <td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
                              <td>{{listAuthor.name}}</td>
                              <td>{{listAuthor.title}}</td>
                              <td><img src="{{imagePath}}{{listAuthor.image}}" alt="logo"
                                      style="height: 100px;width: 100px;"></td>
                              <td>
                                  <p *ngIf="listAuthor.facebook_link"><a
                                          href="{{listAuthor.facebook_link}}">Facebook</a></p>
                                  <p *ngIf="listAuthor.twitter_link"><a href="{{listAuthor.twitter_link}}">Twitter</a>
                                  </p>
                                  <p *ngIf="listAuthor.youtube_link"><a href="{{listAuthor.youtube_link}}">Youtube</a>
                                  </p>
                                  <p *ngIf="listAuthor.instagram_link"><a
                                          href="{{listAuthor.instagram_link}}">Instagram</a></p>
                                  <p *ngIf="listAuthor.linkedin_link"><a
                                          href="{{listAuthor.linkedin_link}}">Linkedin</a></p>
                                  <p *ngIf="listAuthor.tiktok_link"><a href="{{listAuthor.tiktok_link}}">Tiktok</a>
                                  </p>
                                  <p *ngIf="listAuthor.telegram_link"><a
                                          href="{{listAuthor.telegram_link}}">Telegram</a></p>
                              </td>
                              <td *ngIf="listAuthor.isDeleted == false">Active</td>
                              <td *ngIf="listAuthor.isDeleted == true">InActive</td>
                              <td>
                                  <a routerLink="/author/edit/{{listAuthor._id}}" style="cursor:pointer"><i
                                          class="mdi mdi-lead-pencil" aria-hidden="true"></i>
                                  </a>
                                  <a style="cursor:pointer;padding-left: 15px;"
                                      (click)="deleteAuthor(listAuthor._id)"><i class="mdi mdi-close-box"
                                          aria-hidden="true"></i></a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <div class="pcommece-pagination" *ngIf="totalRecord > 0 && !searchText">
                      <app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
                          (changePage)="onListChangePage($event)"></app-pagination>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- <ng-template #content let-modal style="z-index: 0;">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Blog deletion</h4>
    <button type="button" class="btn btn-button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">close</button>
  </div>
  <div class="modal-body">
    <p *ngIf="selectedBlog">
      <strong>Are you sure you want to delete <span class="text-primary">"{{selectedBlog.name}}"</span> Blog Data?</strong>
    </p>
    <p>
      All information associated to this Blog Image will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-button" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-button" (click)="deleteblog()">Ok</button>
  </div>
</ng-template> -->