<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0">Colour List</h3>
				</div>
				<div class="card-body">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<input class="form-control mt-4 mb-4" type="text" (keyup)="searchColour()" name="search"
									[(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching a Colour by name">
							</div>
							<div class="col-md-6"><button type="button" class="btn btn-button ml-auto mt-4 mb-4"
									routerLink="/colour/add">Add Colour</button></div>
						</div>
						<div class="col-md-6">
							<h4 class="title"></h4>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>Name</th>
									<th>Image</th>
									<th>Code</th>
									<th>Status</th>
									<th>Created At</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<td colspan="5" *ngIf="msg_danger">
									<div class="alert alert-dismissable" style="text-align: center;">
										Colour List is Empty
									</div>
								</td>
								<tr *ngFor="let cData of colourData | filter:searchText; let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>{{cData.name}}</td>
									<td><img *ngIf="cData.image_data && cData.image_data.length > 0"
											src="{{imagePath}}/media/{{cData.image_data[0].src}}" alt="logo"
											style="height: 100px;width: 100px;"></td>
									<td>{{cData.value}}</td>
									<td>{{cData.action == true ? 'Active':'Inactive'}}</td>
									<td>{{cData.created_at | date: 'dd/MMM/yyyy hh:mm a'}}</td>
									<td>
										<a routerLink="/colour/edit/{{cData._id}}" style="cursor:pointer"><i class="mdi mdi-lead-pencil"
												aria-hidden="true"></i>
										</a>
										<a style="cursor:pointer;padding-left: 15px;" (click)="open(content,cData)"><i
												class="mdi mdi-close-box" aria-hidden="true"></i></a>
									</td>
									<td>
										<a *ngIf="cData.documents" style="cursor:pointer;padding-left: 15px;"
											href="{{imagePath}}colour/{{cData.documents}}" target="_blank">View</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pcommece-pagination" *ngIf="totalRecord > 0 && !searchText">
							<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
								(changePage)="onListChangePage($event)"></app-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #content let-modal style="z-index: 0;">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">Color deletion</h4>
			<button type="button" class="btn btn-button" aria-describedby="modal-title"
				(click)="modal.dismiss('Cross click')">close</button>
		</div>
		<div class="modal-body">
			<p *ngIf="selectedData">
				<strong>Are you sure you want to delete <span class="text-primary">"{{selectedData.name}}"</span> Color
					Data?</strong>
			</p>
			<p>
				All information associated to this Color Image will be permanently deleted.
				<span class="text-danger">This operation can not be undone.</span>
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-button" (click)="modal.dismiss('cancel click')">Cancel</button>
			<button type="button" class="btn btn-button" (click)="deleteColour()">Ok</button>
		</div>
	</ng-template>