<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title"> Wishlist </h3>
    <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Wishlist</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Wishlist</li>
      </ol>
    </nav> -->
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-10 col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0" *ngIf="id">Edit Wishlist</h4>
          <h4 class="card-title mb-0" *ngIf="!id">Add New Wishlist</h4>
        </div>
        <div class="card-body">
          
          <div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
            {{throw_msg}}
          </div>
          <div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
            {{throw_msg}}
          </div>
          <!-- form start -->
          <form [formGroup]="addWishlistForm" (ngSubmit)="onSubmit()" method="post" novalidate>
            <div class="box-body">
              <div class="form-group col-md-11 mx-auto">
                <label for="exampleInputEmail1">Product</label>
                <select name="product" formControlName="product" class="form-control">
                  <option value="">Select Product</option>
                  <option value="{{product._id}}" *ngFor="let product of allproducts; let j = index">
                    {{product.name}}</option>
                </select>
                <span *ngIf="submitted && hasError('product','required')" class="alert-danger">Product is
                  required</span>
              </div>
              <div class="form-group col-md-11 mx-auto">
                <label for="exampleInputEmail1">Users</label>
                <select name="user" formControlName="user" class="form-control">
                  <option value="">Select User</option>
                  <option value="{{user._id}}" *ngFor="let user of allusers; let j = index">
                    {{user.username}}</option>
                </select>
                <span *ngIf="submitted && hasError('user','required')" class="alert-danger">Users is required</span>
              </div>
            </div>
            <div class="col-md-11 mx-auto">
              <div class="box-footer d-flex">
                <button type="submit" class="btn btn-button mr-2">Submit</button>
                <button type="cancel" (click)="onCancel()" class="btn btn-button">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>