<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title"> Event </h3>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Event</a></li>
				<li class="breadcrumb-item active" aria-current="page">Edit Event</li>
			</ol>
		</nav>
	</div>
	<div class="row justify-content-center">
		<div class="col-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0" *ngIf="id">Edit Event</h4>
					<h4 class="card-title mb-0" *ngIf="!id">Add New Event</h4>
				</div>
				<div class="card-body">
					
					<div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
					<form class="forms-sample" [formGroup]="addeventForm" (ngSubmit)="onSubmit()" method="post" novalidate>

						<div class="form-group">
							<label for="exampleInputEmail1">Title <span class="required">*</span></label>
							<input type="text" name="title" id="Title" autocomplete="off" formControlName="title" class="form-control"
								placeholder="Event Title">
							<span *ngIf="submitted && hasError('title','required')" class="alert-danger">
								Event Title is required
							</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Description <span class="required">*</span></label>
							<textarea type="text" name="description" id="description" autocomplete="off" formControlName="description"
								class="form-control" placeholder="Event Description"> </textarea>
							<span *ngIf="submitted && hasError('description','required')" class="alert-danger">
								Event Description is required
							</span>
						</div>

						<!-- <div class="form-group">
							<label for="exampleInputEmail1">Author <span class="required">*</span></label>
							<select name="author" formControlName="author" class="form-control">
								<option value="">Select Author</option>
								<option value="{{author._id}}" *ngFor="let author of authorData; let j = index">
							</select>
							<span *ngIf="submitted && hasError('author','required')" class="alert-danger">
								Event Author is required</span>
						</div> -->

						<div class="form-group">
							<label for="exampleInputEmail1">Content <span class="required">*</span></label>
							<angular-editor name="content" formControlName="content" [config]="editorConfig"></angular-editor>
							<span *ngIf="submitted && hasError('title','required')" class="alert-danger">
								Event Title is required
							</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Category <span class="required">*</span></label>
							<!-- <select name="category" formControlName="category" class="form-control">
								<option value="">Select Category</option>
								<option value="{{category._id}}" *ngFor="let category of categoryData; let j = index">
							</select> -->
							<select name="category" formControlName="category" class="form-control">
								<option value="">Select Category</option>
								<option value="A">A</option>
								<option value="B">B</option>
								<option value="C">C</option>
							</select>
							<span *ngIf="submitted && hasError('category','required')" class="alert-danger">
								Category is required
							</span>
						</div>

						<div class="form-group">
							<label for="place">Place/Destination <span class="required">*</span></label>
							<input type="text" name="place" id="place" autocomplete="off" formControlName="place" class="form-control"
								placeholder="Event Place/Destination">
							<span *ngIf="submitted && hasError('place','required')" class="alert-danger">
								Event Place/Destination is required
							</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">File Type </label>
							<select name="file_type" formControlName="file_type" class="form-control">
								<option value="">Select File Type</option>
								<option value="image">Image</option>
								<option value="video">Video</option>
							</select>
						</div>
						<hr class="my-3">
						<div class="form-group">
							<h4 class="text-lg-start">Event Image/Video <span class="required">*</span></h4>
							<div class="row text-lg-start">
								<div class="col-lg-3 col-md-4 col-6" *ngIf="mediaData">
									<a class="cursor:pointer;text-center">
										<i class="mdi mdi-close-box" aria-hidden="true"></i></a>
									<a class="d-block mb-4 h-100">
										<img src="{{imagePath}}event/{{mediaData.src}}" class="img-fluid img-thumbnail"
											*ngIf="mediaData && mediaData.file_type == 'image'" width="200" height="350"
											(click)="editMedia(media,mediaData,'media')">
										<video class="img-fluid img-thumbnail" *ngIf="mediaData && mediaData.file_type == 'video'"
											width="200" height="350" (click)="editMedia(media,mediaData,'media')" controls>
											<source src="{{imagePath}}event/{{mediaData.src}}" type="video/mp4">
										</video>
									</a>
								</div>
								<div class="col-lg-3 col-md-4 col-6">
									<a (click)="openMedia(media)" class="d-block mb-4 h-100">
										<img src="{{url}}/img/addimage.svg" class="img-fluid img-thumbnail" width="150" height="150">
									</a>
								</div>
							</div>
							<label for="exampleInputEmail1" style="display: block;">(Required Size for Image w-1482px *
								h-584px)</label><br>
							<!-- <span *ngIf="submitted && hasError('product_gallery','required')" class="alert-danger">Gallery Images is required</span> -->
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Publication Date</label>
							<input type="date" name="publication_date" autocomplete="off" formControlName="publication_date"
								class="form-control" placeholder="From date">
							<span *ngIf="submitted && hasError('publication_date','required')" class="alert-danger">Publication
								Date</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Start Date</label>
							<input type="date" name="start_date" autocomplete="off" formControlName="start_date" class="form-control"
								placeholder="Start Date">
							<span *ngIf="submitted && hasError('start_date','required')" class="alert-danger">Start Date is
								required</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">End Date</label>
							<input type="date" name="end_date" autocomplete="off" formControlName="end_date" class="form-control"
								placeholder="End Date">
							<span *ngIf="submitted && hasError('end_date','required')" class="alert-danger">Discount is
								required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Event Source Link</label>
							<input type="text" name="source" autocomplete="off" formControlName="source" class="form-control"
								placeholder="Source Link">
							<span *ngIf="submitted && hasError('source','required')" class="alert-danger">Source is
								required</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Featured</label>
							<select name="featured" formControlName="featured" class="form-control">
								<option value="true">Active</option>
								<option value="false">InActive</option>
							</select>
						</div>

						<!-- <div class="form-group">
							<label for="exampleInputEmail1">Meta Title</label>
							<input type="text" name="meta_title" autocomplete="off" formControlName="meta_title" class="form-control"
								placeholder="Meta Title">
							<span *ngIf="submitted && hasError('meta_title','required')" class="alert-danger">Meta
								Title is required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Meta Keywords</label>
							<input type="text" name="meta_keywords" autocomplete="off" formControlName="meta_keywords"
								class="form-control" placeholder="Meta Keywords">
							<span *ngIf="submitted && hasError('meta_keywords','required')" class="alert-danger">Meta Keywords is
								required</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Meta Description</label>
							<textarea name="meta_description" autocomplete="off" rows="3" formControlName="meta_description"
								class="form-control" placeholder="Meta Description"></textarea>
							<p>Maximum 255 chars. Meta Description should optimally be
								between 150-160 characters</p>
							<span *ngIf="submitted && hasError('meta_description','required')" class="alert-danger">Meta Description
								is
								required</span>
						</div> -->

						<div class="form-group">
							<label for="exampleInputEmail1">Url Key</label>
							<input type="text" name="url_key" autocomplete="off" formControlName="url_key" class="form-control"
								placeholder="Url Key">
							<span *ngIf="submitted && hasError('url_key','required')" class="alert-danger">Url Key is
								required</span>
						</div>

						<div class="form-group">
							<label for="exampleTextarea1">Status</label>
							<select name="status" formControlName="status" class="form-control">
								<option value="">Select Status</option>
								<option value="true">Active</option>
								<option value="false">Deactive</option>
							</select>
						</div>

						<div class="d-flex">
							<button type="submit" class="btn btn-button mr-2">Submit</button>
							<button type="button" class="btn btn-button" routerLink="/event/view">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Image| Model Popup -->
<ng-template #media let-modal style="z-index: 0;">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Upload Image/Video</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="addmediaForm" (ngSubmit)="onSubmitMedia('image')">
			<div class="form-group">
				<label for="exampleInputEmail1">Name <span class="required">*</span></label>
				<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
					placeholder="Media Name">
				<span *ngIf="submittedMedia && hasMediaFormError('name','required')" class="alert-danger">File Name is
					required</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">File Type</label>
				<select name="file_type" formControlName="file_type" class="form-control">
					<option value="">Select File Type</option>
					<option value="image">Image</option>
					<option value="video">Video</option>
				</select>
				<span *ngIf="submittedMedia && hasMediaFormError('file_type','required')" class="alert-danger">Please
					Select
					File Type</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Alt</label>
				<input type="text" name="alt" autocomplete="off" formControlName="alt" class="form-control"
					placeholder="Alt Tag">
				<span *ngIf="submitted && hasMediaFormError('alt','required')" class="alert-danger">Alt is required</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'image'">
				<label for="exampleInputEmail1">Media Image <span class="required">*</span></label><br>
				<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutput($event,'image')"
					[uploadInput]="uploadInput" accept="image/*" />
				<img *ngIf="mediaFile" alt="logo" style="height: 100px; width: 100px;margin-top: 5px;"
					src="{{imagePath}}event/{{mediaFile}}">
				<span *ngIf="submittedMedia && hasMediaFormError('src','required')" class="alert-danger">Please Select
					Image</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Media Video <span class="required">*</span></label><br>
				<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutput($event,'image')"
					[uploadInput]="uploadInput" accept="video/*" />
				<video width="320" height="240" *ngIf="mediaFile" controls>
					<source src="{{imagePath}}event/{{mediaFile}}" type="video/mp4">
				</video>
				<span *ngIf="submittedMedia && hasMediaFormError('src','required')" class="alert-danger">Please Select
					Video</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'image'">
				<label for="exampleInputEmail1">Role</label>
				<select name="role" #selectRole formControlName="role" class="form-control"
					(change)="selectImageRole($event,selectRole.value)">
					<option value="">Select Role</option>
					<option value="base">Base</option>
					<option value="small">Small</option>
					<option value="thumbnail">Thumbnail</option>
				</select>
				<span *ngIf="submittedMedia && hasMediaFormError('role','required')" class="alert-danger">Please Select
					Role</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Height</label>
				<input type="number" name="height" autocomplete="off" formControlName="height" class="form-control"
					placeholder="Height">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Width</label>
				<input type="number" name="width" autocomplete="off" formControlName="width" class="form-control"
					placeholder="Width">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Sequence Number</label>
				<input type="number" name="sequence_number" autocomplete="off" formControlName="sequence_number"
					class="form-control" placeholder="Sequence Number">
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Mute</label>
				<input type="text" name="mute" autocomplete="off" formControlName="mute" class="form-control"
					placeholder="Mute">
				<span *ngIf="submitted && hasMediaFormError('mute','required')" class="alert-danger">Mute is required</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Autoplay</label>
				<select name="autoplay" formControlName="autoplay" class="form-control">
					<option value="">Select Autoplay</option>
					<option value="true">Active</option>
					<option value="false">Deactive</option>
				</select>
				<span *ngIf="submitted && hasMediaFormError('autoplay','required')" class="alert-danger">Please Select
					Autoplay</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Select Loop</label>
				<select name="loop" formControlName="loop" class="form-control">
					<option value="">Select Loop</option>
					<option value="true">Active</option>
					<option value="false">Deactive</option>
				</select>
				<span *ngIf="submitted && hasMediaFormError('loop','required')" class="alert-danger">Please Select Loop</span>
			</div>
			<div class="form-group" *ngIf="addmediaForm.value.file_type == 'video'">
				<label for="exampleInputEmail1">Full Screen</label>
				<input type="text" name="full_screen" autocomplete="off" formControlName="full_screen" class="form-control"
					placeholder="Full Screen">
				<span *ngIf="submitted && hasMediaFormError('full_screen','required')" class="alert-danger">Full Screen is
					required</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Select Status</label>
				<select name="status" formControlName="status" class="form-control">
					<option value="">Select Status</option>
					<option value="true">Active</option>
					<option value="false">Deactive</option>
				</select>
				<span *ngIf="submittedMedia && hasMediaFormError('status','required')" class="alert-danger">Please
					Select Status</span>
			</div>
			<div class="box-footer d-flex">
				<button class="btn btn-button mr-2">Submit</button>
				<button type="cancel" (click)="onCancelMedia()" class="btn btn-button">Cancel</button>
			</div>
		</form>
	</div>
	<!-- <div class="modal-footer">
		<button type="button" class="btn btn-smallbutton" (click)="modal.close('Close click')">Close</button>
	</div> -->
</ng-template>