<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0">Vehicle List</h3>
				</div>
				<div class="card-body">
					<div class="col-md-12">
						<div class="row justify-content-center align-items-center">
							<div class="col-md-4  mt-4 mb-4">
								<input class="form-control" type="text" (keyup)="searchVehicle()" name="search" [(ngModel)]="searchText"
									autocomplete="off" placeholder="&#61442;  Start searching a Vehicle by Keyword">
							</div>
							<div class="col-md-2 mt-4 mb-4"><button type="button" class="btn btn-button pull-right"
									routerLink="/vehicle/review">All Reviews</button></div>
							<div class="col-md-2"><button type="button" class="btn btn-button pull-right"
									routerLink="/vehicle/add">Add
									Vehicle</button></div>
							<div class="col-md-2 mt-4 mb-4">
								<label>Filter : </label>
								<ng-toggle name="isFilterActive" [(ngModel)]="isFilterActive" class="toogle_btn ml-1"
									[disabled]="config.disabled" [width]="config.width" [height]="config.height" [margin]="config.margin"
									[labels]="config.labels" [color]="config.color" [switchColor]="config.switchColor"
									[fontColor]="config.fontColor" [fontSize]="config.fontSize" (click)="toggelFilter()"
									required></ng-toggle>
							</div>
							<div class="col-md-2 col-sm-2 text-center text-md-right text-sm-right mt-2 mt-md-0 mt-4 mb-4">
								<span class="mr-2">Vehicles on page</span>
								<select name="sort" id="page" (change)="onListChangeLimit($event)">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
									<option value="40">40</option>
									<option value="50">50</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-12" *ngIf="isFilterActive">
						<form>
							<div class="form-row">
								<div class="col-md-3 mb-3">
									<label>Vehicle Id</label>
									<input class="form-control" type="text" name="_id" [(ngModel)]="_id"
										placeholder="&#61442;  Search a Vehicle by Id">
								</div>
								<div class="col-md-3 mb-3">
									<label for="">Vehicle name</label>
									<input class="form-control" type="text" name="name" [(ngModel)]="name"
										placeholder="&#61442;  Search a Vehicle by name">
								</div>
								<div class="col-md-3 mb-3">
									<label for="">Price</label>
									<input class="form-control" type="number" name="filter_price_from" [(ngModel)]="filter_price_from"
										placeholder="From">
									<input class="form-control" type="number" name="filter_price_to" [(ngModel)]="filter_price_to"
										placeholder="To">
								</div>
								<div class="col-md-3 mb-3">
									<label for="">Quantity</label>
									<input class="form-control" type="number" name="filter_quantity_from"
										[(ngModel)]="filter_quantity_from" placeholder="From">
									<input class="form-control" type="number" name="filter_quantity_to" [(ngModel)]="filter_quantity_to"
										placeholder="To">
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-3 mb-3">
									<label for="">Vehicle Sku</label>
									<input class="form-control" type="text" name="sku" [(ngModel)]="sku"
										placeholder="&#61442;  Search a Vehicle by SKU">
								</div>
								<div class="col-md-3 mb-3">
									<label class="my-1 mr-2" for="">Vehicle Type</label>
									<select class="custom-select my-1 mr-sm-2" id="" name="vehicle_type" [(ngModel)]="vehicle_type">
										<option value="">Choose...</option>
										<option value="">All</option>
										<option value="configurable">Configurable</option>
										<option value="simple">Simple</option>
									</select>
								</div>
								<div class="col-md-3 mb-3">
									<label class="my-1 mr-2" for="">Vehicle Visibility</label>
									<select class="custom-select my-1 mr-sm-2" id="" name="visibility" [(ngModel)]="visibility">
										<option value="">Choose...</option>
										<option value="none">None</option>
										<option value="catalog">Catalog</option>
										<option value="search">Search</option>
										<option value="catalog_search">Catalog & Search</option>
									</select>
								</div>
								<div class="col-md-3 mb-3">
									<label class="my-1 mr-2" for="">Vehicle Status</label>
									<select class="custom-select my-1 mr-sm-2" id="" name="status" [(ngModel)]="status">
										<option>Choose...</option>
										<option value="true">Enable</option>
										<option value="false">Disable</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-2 mb-2">
									<button class="btn btn-button" type="submit" (click)="applyFilter()">Apply Filter</button>
								</div>
								<div class="col-md-2 mb-2">
									<button class="btn btn-button" (click)="clearFilter()">Clear Filter</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<h4 class="title"></h4>
					</div>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>Vehicle</th>
									<th>Image</th>
									<th>Brand</th>
									<th>Name</th>
									<th>Model</th>
									<th>Body Type</th>
									<!-- <th>Daily Rate</th> -->
									<!-- <th>Pickup</th>
									<th>Drop</th> -->
									<th>From Date</th>
									<th>To Date</th>
									<th>Sequence Number</th>
									<th>Status</th>
									<!-- <th>Created At</th> -->
									<!-- <th>Updated At</th> -->
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<td colspan="5" *ngIf="vehicleData && vehicleData.length == 0">
									<div class="alert alert-dismissable" style="text-align: center;">
										Vehicle List is Empty
									</div>
								</td>
								<tr *ngFor="let cData of vehicleData | filter:searchText; let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>{{cData.vehicle_type}}</td>
									<td>
										<img *ngIf="cData.media_data && cData.media_data.length > 0 "
											src="{{imagePath}}/media/{{cData.media_data[0].src}}" alt="logo"
											style="height: 100px;width: 100px;">
										<video *ngIf="cData.video" width="100" height="100" controls>
											<source src="{{imagePath}}/media/{{cData.media_data[0].src}}" type="video/mp4">
										</video>
									</td>
									<td *ngIf="cData.brand_data.length > 0">{{cData.brand_data[0].name}}</td>
									<td>{{cData.name}}</td>
									<td *ngIf="cData.model_data.length > 0">{{cData.model_data[0].name}}</td>
									<td *ngIf="cData.bodytype_data.length > 0">{{cData.bodytype_data[0].name}}</td>
									<!-- <td>{{cData.dailyRate}}</td> -->
									<!-- <td>{{cData.pickupLocation}}</td>
									<td>{{cData.dropLocation}}</td> -->
									<td>{{cData.availableFromDate | date: 'dd/MMM/yyyy hh:mm a'}}</td>
									<td>{{cData.availableToDate | date: 'dd/MMM/yyyy hh:mm a'}}</td>
									<td>{{cData.sequence_number}}</td>
									<td>{{cData.status == true ? 'Enabled':'Disable'}}</td>
									<!-- <td>{{cData.created_at | date: 'dd/MMM/yyyy hh:mm a'}}</td> -->
									<!-- <td>{{cData.updated_at | date: 'dd/MMM/yyyy hh:mm a'}}</td> -->
									<!-- <td>{{cData.created_at | date: 'dd/MMM/yyyy hh:mm a'}}</td>
                              <td>{{cData.updated_at | date: 'dd/MMM/yyyy hh:mm a'}}</td> -->
									<td>
										<a routerLink="/vehicle/edit/{{cData._id}}" style="cursor:pointer"><i class="mdi mdi-lead-pencil"
												aria-hidden="true"></i>
										</a>
										<a style="cursor:pointer;padding-left: 15px;" (click)="open(content,cData)"><i
												class="mdi mdi-close-box" aria-hidden="true"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pcommece-pagination" *ngIf="totalRecord > 0 && !searchText">
							<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
								(changePage)="onListChangePage($event)"></app-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #content let-modal style="z-index: 0;">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">Vehicle</h4>
			<button type="button" class="btn btn-button" aria-describedby="modal-title"
				(click)="modal.dismiss('Cross click')">close</button>
		</div>
		<div class="modal-body">
			<p *ngIf="selectedVehicle">
				<strong>Are you sure you want to delete <span class="text-primary">"{{selectedVehicle.name}}"</span>
					Vehicle?</strong>
			</p>
			<p>
				All information associated to this Vehicle will be permanently deleted.
				<span class="text-danger">This operation can not be undone.</span>
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-button" (click)="modal.dismiss('cancel click')">Cancel</button>
			<button type="button" class="btn btn-button" (click)="deleteVehicle()">Ok</button>
		</div>
	</ng-template>
