<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
	<span class="mask bg-gradient-info opacity-8"></span>
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col-lg-7 col-md-10">
				<!-- <h1 class="display-2 text-white">Hello {{user.username}}</h1> -->
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt--7">
	<div class="row justify-content-center">
		<div class="col-xl-8 order-xl-1">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Counter</h3>
						</div>
					</div>
				</div>
				<div class="card-body">
					<form [formGroup]="addForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="box-body">
							<div class="form-group col-lg-12">
								<label for="exampleInputEmail1">Total Plots</label>
								<input type="text" name="total_plots" autocomplete="off" formControlName="total_plots"
									class="form-control" placeholder="Total Plots">
							</div>
							<div class="form-group col-lg-12">
								<label for="exampleInputEmail1">Plots Description</label>
								<input type="text" name="plots_desc" autocomplete="off" formControlName="plots_desc"
									class="form-control" placeholder="Plots Description">
							</div>
							<div class="form-group col-lg-12">
								<label for="exampleInputEmail1">Total Clients</label>
								<input type="text" name="total_clients" autocomplete="off" formControlName="total_clients"
									class="form-control" placeholder="Total Clients">
							</div>
							<div class="form-group col-lg-12">
								<label for="exampleInputEmail1">Client Description</label>
								<input type="text" name="clients_desc" autocomplete="off" formControlName="clients_desc"
									class="form-control" placeholder="Client Description">
							</div>
							<div class="form-group col-lg-12">
								<label for="exampleInputEmail1">Total Experience</label>
								<input type="text" name="total_experience" autocomplete="off" formControlName="total_experience"
									class="form-control" placeholder="Total Experience">
							</div>
							<div class="form-group col-lg-12">
								<label for="exampleInputEmail1">Experience Description</label>
								<input type="text" name="experience_desc" autocomplete="off" formControlName="experience_desc"
									class="form-control" placeholder="Experience Description">
							</div>
							<div class="form-group col-lg-12">
								<label for="exampleInputEmail1">Total Projects</label>
								<input type="text" name="total_projects" autocomplete="off" formControlName="total_projects"
									class="form-control" placeholder="Total Projects">
							</div>
							<div class="form-group col-lg-12">
								<label for="exampleInputEmail1">Projects Description</label>
								<input type="text" name="projects_desc" autocomplete="off" formControlName="projects_desc"
									class="form-control" placeholder="Projects Description">
							</div>
						</div>
						<div class="box-footer col-lg-12">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="button" class="btn btn-danger" routerLink="/dashboard">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
