<div class="content-wrapper" >
	<div class="page-header">
		<h3 class="page-title"> Attribute </h3>
		<!-- <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Attribute</a></li>
				<li class="breadcrumb-item active" aria-current="page">Edit Attribute</li>
			</ol>
		</nav> -->
	</div>
	<div class="row justify-content-center">
    <div class="col-md-8 col-sm-10 col-12 grid-margin stretch-card">
      <div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0" *ngIf="id">Edit Attribute</h4>
          <h4 class="card-title mb-0" *ngIf="!id">Add New Attribute</h4>
				</div>
        <div class="card-body">
          
          <div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
					<form [formGroup]="addattributeForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="form-group">
							<label for="exampleInputEmail1">Label</label>
							<input type="text" name="label" autocomplete="off" formControlName="label" class="form-control"
								placeholder="Attribute Label">
							<span *ngIf="submitted && hasError('label','required')" class="alert-danger">Attribute Label is required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Name</label>
							<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
								placeholder="Attribute Name">
							<span *ngIf="submitted && hasError('name','required')" class="alert-danger">Attribute Name is	required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Input Type</label>
							<select name="input_type" formControlName="input_type" class="form-control">
								<option value="">Select Input Type</option>
								<option value="text">Text Field</option>
								<option value="textarea">Text Area</option>
								<option value="date">Date</option>
								<option value="boolean">Yes/No</option>
								<option value="multiselect">Multiple Select</option>
								<option value="select">Dropdown</option>
							</select>
							<span *ngIf="submitted && hasError('input_type','required')" class="alert-danger">Please Select Input Type</span>
						</div>
						<div class="form-group" *ngIf="addattributeForm.value.input_type == 'multiselect' || addattributeForm.value.input_type == 'select'">
							<form [formGroup]="manageOptionForm" (submit)="submit()">
								<table class="form-group">
									<tr>
										<th>Sl.No</th>
										<th>is Default</th>
										<th>Name/Label</th>
										<th>Code</th>
									</tr>
									<tbody>
										<ng-container formArrayName="options">
											<ng-container *ngFor="let option of optionFormGroup.controls; let i = index;">
												<tr [formGroupName]="i">
													<td>
														<p>{{i+1}}</p>
													</td>
													<td>
														<div class="form-group">
															<select (change)="changedFieldType(i)" class="form-control" formControlName="isDefault"
																type="text">
																<option value="true">Yes</option>
																<option value="false">No</option>
															</select>
														</div>
													</td>
													<td>
														<div class="form-group">
															<input class="form-control" formControlName="name" type="text" placeholder="Name">
															<span class="text-danger"
																*ngIf="getoptionsFormGroup(i).controls['name'].touched && getoptionsFormGroup(i).controls['name'].hasError('required')">
																Name is required! </span>
														</div>
													</td>
													<td>
														<div class="form-group">
															<input class="form-control" formControlName="code" type="text" placeholder="Code">
															<span class="text-danger"
																*ngIf="getoptionsFormGroup(i).controls['code'].touched && getoptionsFormGroup(i).controls['code'].hasError('required')">
																Code is required! </span>
														</div>
													</td>
													<td>
														<button class="btn btn-button" type="button" (click)="removeoption(i)"> Remove </button>
													</td>
												</tr>
											</ng-container>
											<button class="btn btn-button m-1" type="button" (click)="addoption()"> Add Option </button>
										</ng-container>
									</tbody>
								</table>
							</form>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Use in Filter Options</label>
							<select name="isfilteroption" formControlName="isfilteroption" class="form-control">
								<option value="">Select Filter Options</option>
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
							<span *ngIf="submitted && hasError('isfilteroption','required')" class="alert-danger">Please Select Filter
								Options</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Values Required</label>
							<select name="isRequired" formControlName="isRequired" class="form-control">
								<option value="">Select Required</option>
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
							<span *ngIf="submitted && hasError('isRequired','required')" class="alert-danger">Please Select
								Required</span>
						</div>
						
						<div class="form-group">
							<label for="exampleInputEmail1">Status</label>
							<select name="status" formControlName="status" class="form-control">
								<option value="">Select Status</option>
								<option value="true">Active</option>
								<option value="false">Deactive</option>
							</select>
							<span *ngIf="submitted && hasError('status','required')" class="alert-danger">Please Select Status</span>
						</div>
						<div class="box-footer d-flex">
							<button type="submit" class="btn btn-button mr-2">Submit</button>
							<button type="cancel" (click)="onCancel()" class="btn btn-button">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>