<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0">Yatchs List</h3>
				</div>
				<div class="card-body">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<input class="form-control" type="text" (keyup)="searchVehicle()" name="search" [(ngModel)]="searchText"
									autocomplete="off" placeholder="&#61442;  Start searching a Yatchs by Keyword">
							</div>
							<div class="col-md-6">
								<div class="text-right">
									<button type="button" class="btn btn-button ml-auto" (click)="openDisplayonHome(displayonhome)">Add
										Yatchs</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>Image</th>
									<th>Name</th>
									<th>Vehicle ID</th>
									<th>Status</th>
									<th>Created At</th>
									<th>Updated At</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<td colspan="5" *ngIf="vehicleData && vehicleData.length == 0">
									<div class="alert alert-dismissable" style="text-align: center;">
										Yatchs List is Empty
									</div>
								</td>
								<tr *ngFor="let cData of vehicleData | filter:searchText; let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>
										<img *ngIf="cData.media_data && cData.media_data.length > 0 "
											src="{{imagePath}}/media/{{cData.media_data[0].src}}" alt="logo"
											style="height: 100px;width: 100px;">
										<video *ngIf="cData.video" width="100" height="100" controls>
											<source src="{{imagePath}}/media/{{cData.media_data[0].src}}" type="video/mp4">
										</video>
									</td>
									<td>{{cData.name}}</td>
									<td>{{cData.vehicle_id}}</td>
									<td>{{cData.status == true ? 'Enabled':'Disable'}}</td>
									<td>{{cData.created_at | date: 'dd/MMM/yyyy'}}</td>
									<td>{{cData.updated_at | date: 'dd/MMM/yyyy'}}</td>
									<td>
										<a style="cursor:pointer;padding-left: 15px;" (click)="open(content,cData)">
											<i class="mdi mdi-close-box" aria-hidden="true"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pcommece-pagination" *ngIf="totalRecord > 0 && !searchText">
							<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
								(changePage)="onListChangePage($event)">
							</app-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #content let-modal style="z-index: 0;">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">Vehicle</h4>
			<button type="button" class="btn btn-button" aria-describedby="modal-title"
				(click)="modal.dismiss('Cross click')">close</button>
		</div>
		<div class="modal-body">
			<p *ngIf="selectedVehicle">
				<strong>Are you sure you want to delete <span class="text-primary">"{{selectedVehicle.name}}"</span>
					Vehicle?</strong>
			</p>
			<p>
				All information associated to this Vehicle will be permanently deleted.
				<span class="text-danger">This operation can not be undone.</span>
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-button" (click)="modal.dismiss('cancel click')">Cancel</button>
			<button type="button" class="btn btn-button" (click)="deleteVehicle()">Ok</button>
		</div>
	</ng-template>
	<ng-template #displayonhome let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Add Display on Home Vehicles</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" *ngIf="disbaledvehicleData.length == 0">
			<!-- Page content -->
			<div class="container">
				<!-- Table -->
				<div class="row">
					<div class="col">
						<div class="card shadow">
							<div class="card-body">
								<div class="col-md-12">
									<h4>Record Not Found</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-body" *ngIf="disbaledvehicleData && disbaledvehicleData.length > 0">
			<!-- Page content -->
			<div class="container">
				<!-- Table -->
				<div class="row">
					<div class="col">
						<div class="card shadow">
							<div class="card-body">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-6">
											<input class="form-control mb-4" type="text" (keyup)="searchDisplayVehicle()" name="search"
												[(ngModel)]="searchTextdisplay" autocomplete="off"
												placeholder="&#61442;  Start searching a Vehicle by name">
										</div>
									</div>
								</div>
								<div class="table-responsive">
									<table class="table align-items-center table-flush">
										<thead>
											<tr>
												<th>SL No</th>
												<th>Image</th>
												<th>Name</th>
												<th>Vehicle Id</th>
												<th>Status</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let cData of disbaledvehicleData | filter:searchTextdisplay; let i = index">
												<td *ngIf="currentPage == 1">{{i+1}}</td>
												<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
												<td>
													<img *ngIf="cData.image_data && cData.image_data.length > 0 "
														src="{{imagePath}}/media/{{cData.image_data[0].src}}" alt="logo"
														style="height: 100px;width: 100px;">
													<video *ngIf="cData.video" width="100" height="100" controls>
														<source src="{{imagePath}}/media/{{cData.image_data[0].src}}" type="video/mp4">
													</video>
												</td>
												<td>{{cData.name}}</td>
												<td>{{cData.vehicle_id}}</td>
												<td>{{cData.status == true ? 'Enabled':'Disable'}}</td>
												<td>
													<a style="cursor:pointer;padding-left: 15px;" (click)="addDisplayonHomeVehicle(cData,i)"><i
															class="mdi mdi-plus-box" aria-hidden="true"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pcommece-pagination" *ngIf="totaldisbaledRecord > 0 && !searchTextdisplay">
										<app-pagination #pagination [initialPage]="currentPage" [count]="totaldisbaledRecord"
											(changePage)="onDisListChangePage($event)"></app-pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-button" (click)="modal.close('Close click')">Close</button>
		</div>
	</ng-template>