<!-- <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 400px;  background-size: cover; background-position: center top;">
   
  <span class="mask bg-gradient-info opacity-8"></span>
  
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
       
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid mt--7">
  <h3 class="page-title mb-4">Order Summary </h3>
  <div class="row">
    <div class="col-xl-12 order-xl-12 mb-5 mb-xl-0">
      <div class="card card-profile shadow text-center">
        <div class="card-body">
          <div class="row h-100">
            <div class="col d-flex justify-content-around" *ngIf="OrderData">
              <button type="button" class="btn btn-button" *ngIf="OrderData">Pending</button>
              <button type="button" class="btn btn-button"
                *ngIf="OrderData.order_status == 'processing' || OrderData.order_status == 'completed' || OrderData.order_status == 'shipping' || OrderData.order_status == 'failed'">Processing</button>
              <button type="button" class="btn btn-button" *ngIf="OrderData.order_status == 'Pending'"
                (click)="open(content,'processing')">Processing</button>
              <button type="button" class="btn btn-button"
                *ngIf="OrderData.order_status == 'shipping' || OrderData.order_status == 'completed' || OrderData.order_status == 'failed'">Shipping</button>
              <button type="button" class="btn btn-button"
                *ngIf="OrderData.order_status == 'processing' || OrderData.order_status == 'Pending'"
                (click)="open(content,'shipping')">Shipping</button>
              <button type="button" class="btn btn-button"
                *ngIf="OrderData.order_status == 'completed' || OrderData.order_status == 'completed' || OrderData.order_status == 'failed'">Deliverd</button>
              <button type="button" class="btn btn-button"
                *ngIf="OrderData.order_status == 'shipping' || OrderData.order_status == 'processing' || OrderData.order_status == 'Pending'"
                (click)="open(content,'completed')">Deliverd</button>
              <button type="button" class="btn btn-button"
                *ngIf="OrderData.order_status == 'canceled'">Canceled</button>
              <button type="button" class="btn btn-button" *ngIf="OrderData.order_status != 'canceled'"
                (click)="open(content,'canceled')">Cancelled</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow overflow-hidden">
        <div class="card-header">
          <h3 class="title mb-0">Overview</h3>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="">

            <ul class="order-overview">
              <li>Order Status: <strong>{{OrderData.order_status}}</strong></li>
              <li>Order Id: <strong>{{OrderData?.order_id}}</strong></li>
              <li>Order Number: <strong>{{OrderData?.order_number}}</strong></li>
              <li>Date: <strong>{{OrderData?.created_at | date: "d MMM y" }}</strong></li>
              <li>
                Total:
                <strong><span class="amount"><span
                      class="currencySymbol">$</span>{{OrderData?.order_amount}}</span></strong>
              </li>
              <li>Payment method: <strong>{{OrderData?.payment_type}}</strong></li>
              <li>Payment Status: <strong>{{OrderData?.payment_status}}</strong></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card card-profile shadow " *ngIf="OrderData?.payment_type == 'Prepaid'">
        <div class="card-body pt-0 pt-md-4">
          <section class="">
            <h2 class="title">Transaction Details</h2>
            <table class="shop_table customer_details">
              <tbody>
                <tr>
                  <th>Transaction Id:</th>
                  <td>{{OrderData?.transaction_id}}</td>
                </tr>
                <tr>
                  <th>Payer Id:</th>
                  <td>{{OrderData?.payer_id}}</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
      <div class="card card-profile shadow ">
        <div class="card-header">
          <h3 class="title mb-0">Customer details</h3>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="">
            <div class="">

              <p>Email: {{OrderData?.email}}</p>
              <p>Phone: {{OrderData?.mobile}}</p>
              <h4 class="title mt-4">Billing address</h4>
              <hr>
              <address>
                {{OrderData?.firstname}} {{OrderData?.lastname}}
                <br />{{OrderData?.address}} <br />{{OrderData?.city}} <br />{{OrderData?.country}}
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card  shadow overflow-hidden">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-md-8 col-sm-10 col-12">
              <h3 class="mb-0">Order details</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="">
            <h4 class="title">Products</h4>
            <hr>
            <div class="table-responsive">
              <!--Table-->
              <table class="table table-striped">

                <!--Table head-->
                <thead>
                  <tr>
                    <th class="product">ID</th>
                    <th class="product">SKU</th>
                    <th class="product">Image</th>
                    <th class="product-name">Name</th>
                    <th class="product-name">Quantity</th>
                    <th class="product-name">Size</th>
                    <th class="product-type">Type</th>
                    <!-- <th class="product-seller">Seller</th> -->
                    <th class="product-total">Total</th>
                  </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                  <tr *ngFor="let listProduct of OrderData?.product_data; let i = index">
                    <td class="product-id">{{i+1}}</td>
                    <td class="product-sku"> {{listProduct?.sku}} </td>
                    <td><img src="{{imagePath}}/media/{{OrderData?.product_image[0].src}}" class="avatar rounded lg"
                        alt="Product" style="height: 100px;width: 100px;"></td>
                    <td class="product-name">
                      <a href="#">{{listProduct?.name}}</a>
                      <!-- <strong >× {{OrderData?.product[i].qty}}</strong> -->
                    </td>
                    <td class="product-quantity"> {{OrderData?.product[i].qty}} </td>
                    <td class="product-size" *ngIf="listProduct?.size.length > 0"> {{listProduct?.size[0].size_name}} <a
                        *ngIf="listProduct?.size[0].size_name == 'APM'" (click)="onclickAPM(apmcontent)">(View)</a></td>
                    <td class="product-type"> {{listProduct.product_type}} </td>
                    <!-- <td class="product-seller"> {{OrderData?.art_by[i]}} </td> -->
                    <td class="product-total">
                      <span class="amount"><span class="currencySymbol">$</span>{{OrderData?.product[i].price *
                        OrderData?.product[i].qty}}</span>
                    </td>
                  </tr>
                </tbody>
                <!--Table body-->
                <tfoot>
                  <tr>
                    <th scope="row">Subtotal:</th>
                    <td>
                      <span class="amount"><span class="currencySymbol">$</span>{{subtotal}}</span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Shipping Charges:</th>
                    <td>${{OrderData?.shipping_charges}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Payment method:</th>
                    <td>{{OrderData?.payment_type}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Payment Status:</th>
                    <td>{{OrderData?.payment_status}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Total:</th>
                    <td>
                      <span class="amount"><span class="currencySymbol">$</span>{{total}}</span>
                    </td>
                  </tr>
                </tfoot>
              </table>
              <!--Table-->
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header">
          <h3 class="title mb-0">Order Status <span *ngIf="OrderData && OrderData?.order_status == 'Pending'"
              style="color: #008000;font-size: 19px;">{{OrderData?.order_status}}</span>
            <span *ngIf="OrderData?.order_status == 'processing'"
              style="color: #008000;font-size: 19px;">{{OrderData?.order_status}}</span>
            <span *ngIf="OrderData?.order_status == 'on_hold'"
              style="color: #FFA500;font-size: 19px;">{{OrderData?.order_status}}</span>
            <span *ngIf="OrderData?.order_status == 'failed'"
              style="color: #FF0000;font-size: 19px;">{{OrderData?.order_status}}</span>
            <span *ngIf="OrderData?.order_status == 'shipping'"
              style="color: #34583a;font-size: 19px;">{{OrderData?.order_status}}</span>
            <span *ngIf="OrderData?.order_status == 'completed'"
              style="color: #0000FF;font-size: 19px;">{{OrderData?.order_status}}</span>
            <span *ngIf="OrderData?.order_status == 'canceled'"
              style="color: #808080;font-size: 19px;">{{OrderData?.order_status}}</span>
            <span *ngIf="OrderData?.order_status == 'refunded'"
              style="color: #808080;font-size: 19px;">{{OrderData?.order_status}}</span>
            &nbsp;<a style="cursor:pointer" (click)="ShowStatusBox()"><i class="mdi mdi-lead-pencil"
                aria-hidden="true"></i></a>
          </h3>
        </div>
        <div class="card-body">
          <div class="">
           
            <div class="form-group">
              <label for="status">Change Order Status  </label>
              <select *ngIf="OrderData && OrderData?.order_status" [(ngModel)]="OrderData.order_status"
                name="order_status" formcontrolname="status" class="form-control"
                (change)="UpdateOrderStatus($event,OrderData?._id)">
                <option value="">Select Order Status</option>
                <option value="Pending">Pending</option>
                <option value="processing">Processing</option>
                <option value="on_hold">On Hold</option>
                <option value="failed">Failed</option>
                <option value="shipping">Shipping</option>
                <option value="completed">Completed</option>
                <option value="canceled">Canceled</option>
                <option value="refunded">refunded</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header">
          <h3 class="title mb-0">Payment Status</h3>
        </div>
        <div class="card-body">
            <div>
              <select *ngIf="OrderData && OrderData?.payment_status" [(ngModel)]="OrderData.payment_status"
                name="payment_status" class="form-control" (change)="UpdateOrderPaymentStatus($event,OrderData?._id)">
                <option value="">Select Payment Status</option>
                <option value="Pending">Pending</option>
                <option value="Payment Review">Payment Review</option>
                <option value="completed">Completed</option>
                <option value="canceled">Canceled</option>
                <option value="refunded">refunded</option>
              </select>
            </div>
        </div>
      </div>
      <div class="card shadow">
				<div class="card-header">
					<h3 class="title mb-0">Invoice</h3>
				</div>
        <div class="card-body">
          <div class="">
            <div class="col-sm-4 col-8">
              <button class="btn btn-button btn-block" (click)="generateInvoice(OrderData.order_id)">Generate
                Invoice</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal style="z-index: 0;">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Order Status</h4>
    <button type="button" class="btn btn-button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">close</button>
  </div>
  <div class="modal-body">
    <p *ngIf="selectedStatus">
      <strong>Are you sure you want to Change Status?</strong>
    </p>
  </div>
  <div class="modal-footer d-flex">
    <button type="button" class="btn btn-button mr-2" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-button" (click)="ChangeOrderStatus(onlinePayment)">Ok</button>
  </div>
</ng-template>

<!-- Modal -->
<ng-template #apmcontent id="APMModal" let-modal>
  <div class="modal-header">
    <h5 class="modal-title " id="APMModal2">Tailor my Attire(APM)</h5>
    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closebutton></button> -->
    <button type="button" class="btn btn-button " aria-label="modal-title"
      (click)="modal.dismiss('Cross click')">close</button>
  </div>
  <div class="modal-body text-left" *ngIf="apmData">
    <div class="col-lg-12 col-md-12">
      <p>Measurement Unit: {{apmData.unit}}</p>
      <p>Fit Preference: {{apmData.fit}}</p>
      <p>Chest/Bust Size: {{apmData.chest}}</p>
      <p>Waist Size: {{apmData.waist}}</p>
      <p>Hip Size: {{apmData.hip}}</p>
      <p>Sleeve Length: {{apmData.sleeve}}</p>
      <p>Message: {{apmData.message}}</p>
    </div>
  </div>
</ng-template>

<ng-template #onlinePayment let-modal style="z-index: 0;">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Payment Status</h4>
    <button type="button" class="btn btn-button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">close</button>
  </div>
  <div class="modal-body">
    <p *ngIf="selectedStatus">
      <strong>Payment is still Pending!</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-button" (click)="modal.dismiss('cancel click')">Cancel</button>
  </div>
</ng-template>