<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title"> Order </h3>
		<!-- <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Order</a></li>
				<li class="breadcrumb-item active" aria-current="page">Edit Order</li>
			</ol>
		</nav> -->
	</div>
	<div class="row justify-content-center">
		<div class="col-md-12 col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0" *ngIf="id">Edit Order</h4>
					<h4 class="card-title mb-0" *ngIf="!id">Add New Order</h4>
				</div>
				<div class="card-body">				
					<div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
					<!-- form start -->
					<form [formGroup]="addCartForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="box-body">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="exampleInputEmail1">Select Customers</label>
									<select name="customer" #customer formControlName="customer" class="form-control"
										(change)="selectCustomer(customer.value)">
										<option value="">Select Customers</option>
										<option value="{{customer._id}}" *ngFor="let customer of allcustomers; let j = index">
											{{customer.username}}</option>
									</select>
									<span *ngIf="submitted && hasError('customer','required')" class="alert-danger">Users is required</span>
								</div>
								<div class="form-group col-md-6">
									<label for="exampleInputEmail1">Product</label>
									<select name="product_id" #product formControlName="product_id" class="form-control"
										(change)="selectProduct(product.value)">
										<option value="">Select Product</option>
										<option value="{{product._id}}" *ngFor="let product of allproducts; let j = index">
											{{product.name}}</option>
									</select>
									<span *ngIf="submitted && hasError('product_id','required')" class="alert-danger">Product is
										required</span>
								</div>
								<div class="form-group col-md-4">
									<label for="exampleInputEmail1">Firstname</label>
									<input name="firstname" formControlName="firstname" class="form-control" placeholder="Firstname">
									<span *ngIf="submitted && hasError('firstname','required')" class="alert-danger">Firstname is required</span>
								</div>
								<div class="form-group col-md-4">
									<label for="exampleInputEmail1">Lastname</label>
									<input name="lastname" formControlName="lastname" class="form-control" placeholder="Lastname">
									<span *ngIf="submitted && hasError('lastname','required')" class="alert-danger">Lastname is required</span>
								</div>
								<div class="form-group col-md-4">
									<label for="exampleInputEmail1">Email</label>
									<input name="email" formControlName="email" class="form-control" placeholder="Email">
									<span *ngIf="submitted && hasError('email','required')" class="alert-danger">Email is required</span>
								</div>
								<div class="form-group col-md-4">
									<label for="exampleInputEmail1">Mobile</label>
									<input name="mobile" formControlName="mobile" class="form-control" placeholder="House Num">
									<span *ngIf="submitted && hasError('mobile','required')" class="alert-danger">Mobile is required</span>
								</div>
								<div class="form-group col-md-4">
									<label for="exampleInputEmail1">House Num</label>
									<input name="house_num" formControlName="house_num" class="form-control" placeholder="House Num">
									<span *ngIf="submitted && hasError('house_num','required')" class="alert-danger">House Num is required</span>
								</div>
								<div class="form-group col-md-4">
									<label for="exampleInputEmail1">Town Name</label>
									<input name="town_name" formControlName="town_name" class="form-control" placeholder="Town Name">
									<span *ngIf="submitted && hasError('town_name','required')" class="alert-danger">Town Name is required</span>
								</div>
								<div class="form-group col-md-4">
									<label for="exampleInputEmail1">Country</label>
									<input name="country" formControlName="country" class="form-control" placeholder="Country">
									<span *ngIf="submitted && hasError('country','required')" class="alert-danger">Country is required</span>
								</div>
						</div>
						</div>
						<div class="row">
							<div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
								<div class="card card-profile shadow ">
									<div class="card-header border-0">
										<div class="row align-items-center">
											<div class="col-md-8 col-sm-10 col-12">
												<h3 class="mb-0">Customer details</h3>
											</div>
										</div>
									</div>
									<div class="card-body pt-0 pt-md-4">
										<div class="">
											<div class="">												
												<p>Email: {{selectedCustomer?.email}}</p>
												<p>Phone: {{selectedCustomer?.mobile}}</p>
												<h3 class="title text-center">Billing address</h3>
												<address *ngIf="selectedCustomer && selectedCustomer.address.length > 0">
													{{selectedCustomer?.firstname}} {{selectedCustomer?.lastname}}
													<br />{{selectedCustomer?.address[0].address1}} <br />{{selectedCustomer?.address[0].city}}
													<br />{{selectedCustomer?.address[0].country}}
												</address>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-8 order-xl-1">
								<div class="card shadow">
									<div class="card-header border-0">
										<div class="row align-items-center">
											<div class="col-md-8 col-sm-10 col-12">
												<h3 class="mb-0">Order details</h3>
											</div>
										</div>
									</div>
									<div class="card-body">
										<section class="">
											<h2 class="title">Products</h2>
											<div class="table-responsive">
												<!--Table-->
												<table class="table table-striped">
													<!--Table head-->
													<thead>
														<tr>
															<th class="product">Product ID</th>
															<th class="product">SKU</th>
															<th class="product">Product Image</th>
															<th class="product-name">Product Name</th>
															<th class="product-name">Product Quantity</th>
															<th class="product-type">Type</th>
															<!-- <th class="product-seller">Seller</th> -->
															<th class="product-price">Price</th>
															<th class="product-price">Delete</th>
														</tr>
													</thead>
													<!--Table head-->

													<!--Table body-->
													<tbody>
														<tr *ngFor="let listProduct of selectedProducts; let i = index">
															<td class="product-id">{{i+1}}</td>
															<td class="product-sku"> {{listProduct?.sku}} </td>
															<td><img src="{{imagePath}}/media/{{listProduct?.image_data[0].src}}"
																	*ngIf="listProduct.image_data && listProduct.image_data.length > 0"
																	class="avatar rounded lg" alt="Product" style="height: 100px;width: 100px;"></td>
															<td class="product-name">
																<a href="#">{{listProduct?.name}}</a>
																<!-- <strong >× {{OrderData?.product[i].qty}}</strong> -->
															</td>
															<td class="product-quantity"> {{listProduct?.qty}} </td>
															<td class="product-type"> {{listProduct.product_type}} </td>
															<!-- <td class="product-seller"> {{OrderData?.art_by[i]}} </td> -->
															<td class="product-total">
																<span class="amount"><span class="currencySymbol">AED
																	</span>{{listProduct.sale_price}}</span>
															</td>
															<td class="product-total">
																 <a href="javascript:void(0)" (click)="removeProduct(i)"> Remove</a> 
															</td>
														</tr>
													</tbody>
													<!--Table body-->
													<div class="mt-5"></div>
													<tfoot >
														<tr>
															<th scope="row">Subtotal:</th>
															<td>
																<span class="amount"><span class="currencySymbol">AED </span>{{subtotal}}</span>
															</td>
														</tr>
														<tr>
															<th scope="row">Shipping Charges:</th>
															<td>AED {{shippingCharge}}</td>
														</tr>
														<tr>
															<th scope="row">Total:</th>
															<td>
																<span class="amount"><span class="currencySymbol">AED </span>{{total}}</span>
															</td>
														</tr>
													</tfoot>
												</table>
												<!--Table-->
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
						<div class="box-footer d-flex mt-5 ml-4 mb-4">
							<button type="submit" class="btn btn-button mr-2">Submit</button>
							<button type="cancel" (click)="onCancel()" class="btn btn-button">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>