<div class="header pb-8 pt-5 pt-lg-4 d-flex align-items-center">
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0" *ngIf="id">Update/Edit Testimonial</h3>
                            <h3 class="mb-0" *ngIf="!id">Add New Testimonial</h3>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
                        {{throw_msg}}
                    </div>
                    <div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
                        {{throw_msg}}
                    </div>
                </div>
                <div class="card-body">
                    <!-- form start -->
                    <form [formGroup]="addTestimonialForm" (ngSubmit)="onSubmit()" method="post" novalidate>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name <span> * </span></label>
                                <input type="text" name="name" autocomplete="off" formControlName="name"
                                    class="form-control" placeholder="Name">
                                <span *ngIf="submitted && hasError('name','required')" class="alert-danger">Name is
                                    required</span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ratings <span> * </span></label>
                                <select name="ratings" formControlName="ratings" class="form-control">
                                    <option value="">Select Rating</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <span *ngIf="submitted && hasError('ratings','required')" class="alert-danger">Ratings
                                    is
                                    required</span>
                            </div>

                            <!-- <div class="form-group"> 
                                <label for="exampleInputEmail1">Title</label>
                                <input type="text" name="name" autocomplete="off" formControlName="title"
                                    class="form-control" placeholder="Testimonial Title">
                                <span *ngIf="submitted && hasError('title','required')" class="alert-danger">Testimonial Title is
                                    required</span>
                            </div> -->

                            <!-- <div class="form-group"> 
                                <label for="exampleInputEmail1">Location</label>
                                <input type="text" name="name" autocomplete="off" formControlName="location"
                                    class="form-control" placeholder="Location">
                                <span *ngIf="submitted && hasError('location','required')" class="alert-danger">Location is
                                    required</span>
                            </div> -->

                            <!-- <div class="form-group">
                                <label for="exampleInputEmail1">Featured</label>
                                <select name="featured" formControlName="featured" class="form-control">
                                    <option value="">Select Featured</option>
                                    <option value="true">Active</option>
                                    <option value="false">InActive</option>
                                </select>
                                <span *ngIf="submitted && hasError('featured','required')" class="alert-danger">Featured is
                                    required</span>
                            </div> -->

                            <div class="form-group">
                                <label for="exampleInputEmail1">Description <span> * </span>
                                    <div class="tooltip-wrapper">
                                        <button type="button" class="btn shadow-none p-0 trigger-btn"
                                            (mouseenter)="show = true" (mouseleave)="show = false"
                                            style="transform: none;  color: #525f7f;">
                                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1" />
                                                <line x1="12" y1="10" x2="12" y2="16" stroke="currentColor"
                                                    stroke-width="1" stroke-linecap="round" />
                                                <circle cx="12" cy="7" r="1" fill="currentColor" />
                                            </svg></button>
                                        <div class="tooltip-card" *ngIf="show">
                                            <h5 class="tooltip-title">Note</h5>
                                            <p class="tooltip-text">
                                                To maintain the website design, please keep the content within 180–200
                                                characters.
                                            </p>
                                            <span class="tooltip-arrow"></span>
                                        </div>
                                    </div>
                                </label>
                                <textarea name="text" autocomplete="nope" formControlName="text" class="form-control"
                                    placeholder="Description"></textarea>
                                <span *ngIf="submitted && hasError('text','required')" class="alert-danger">Description
                                    is required</span>
                            </div>
                            <!-- <div class="form-group">
                                <label for="exampleInputEmail1">Designation</label>
                                <input type="text" name="job" autocomplete="off" formControlName="job"
                                    class="form-control" placeholder="Designation">
                                <span *ngIf="submitted && hasError('job','required')" class="alert-danger">Designation
                                    is
                                    required</span>
                            </div> -->
                            <!-- <div class="form-group">
                                <label for="exampleInputEmail1">Job</label> 
                                <ng-select [items]="jobs" bindLabel="name" placeholder="Select Job" appendTo="body"
                                    [multiple]="true" formControlName="job">
                                </ng-select>
                                <span *ngIf="submitted && hasError('job','required')" class="alert-danger">Job is
                                    required</span>
                            </div>  -->
                            <!-- <div class="form-group">
                                <label for="exampleInputEmail1">Job</label>
                                <select name="job" formControlName="job" class="form-control">
                                    <option value="">Select Job</option>
                                    <option value="Project Manager">Project Manager</option>
                                    <option value="Operations Manager">Operations Manager</option>
                                    <option value="Detailing Manager">Detailing Manager</option>
                                    <option value="Vice President">Vice President</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div> -->

                            <div class="form-group">
                                <label for="exampleInputEmail1">Testimonial Image <div class="tooltip-wrapper">
                                        <button type="button" class="btn shadow-none p-0 trigger-btn"
                                            (mouseenter)="show1 = true" (mouseleave)="show1 = false"
                                            style="transform: none;  color: #525f7f;">
                                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1" />
                                                <line x1="12" y1="10" x2="12" y2="16" stroke="currentColor"
                                                    stroke-width="1" stroke-linecap="round" />
                                                <circle cx="12" cy="7" r="1" fill="currentColor" />
                                            </svg></button>
                                        <div class="tooltip-card" *ngIf="show1">
                                            <h5 class="tooltip-title">Note</h5>
                                            <p class="tooltip-text">
                                                Upload images in the recommended sizes to avoid layout issues.
                                                <br>(Required Width - 356px * Height - 70px)
                                            </p>
                                            <span class="tooltip-arrow"></span>
                                        </div>
                                    </div>
                                </label><br>
                                <input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutput($event)"
                                    [uploadInput]="uploadInput" /><br>
                                <img *ngIf="ImageName" alt="logo" style="height: 100px; width: 100px;"
                                    src="{{imagePath}}{{ImageName}}">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Status</label>
                                <select name="status" formControlName="status" class="form-control">
                                    <option value="true">Active</option>
                                    <option value="false">InActive</option>
                                </select>
                            </div>

                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="cancel" (click)="onCancel()" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>