<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0">PromoCode List</h3>
				</div>
				<div class="card-body">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<input class="form-control mt-4 mb-4" type="text" (keyup)="searchPromoCode()" name="search"
									[(ngModel)]="searchText" autocomplete="off"
									placeholder="&#61442;  Start searching a PromoCode by name">
							</div>
							<div class="col-md-6"><button type="button" class="btn btn-button pull-right ml-auto mt-4 mb-4"
									routerLink="/promocode/add">Add PromoCode</button></div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>Name</th>
									<!-- <th>Slug</th> -->
									<th>Code</th>
									<th>Condition SubTotal</th>
									<th>Discount</th>
									<th>From</th>
									<th>To</th>
									<th>Per User</th>
									<th>Status</th>
									<th>Created At</th>
									<th>Actions</th>

								</tr>
							</thead>
							<tbody>
								<td colspan="6" *ngIf="msg_danger">
									<div class="alert alert-dismissable" style="text-align: center;">
										PromoCode List is Empty
									</div>
								</td>
								<tr *ngFor="let listPromo of promoData | filter:searchText | activefilter:isactive; let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>{{listPromo.name}}</td>
									<!-- <td>{{listPromo.slug}}</td> -->
									<td>{{listPromo.code}}</td>
									<td>{{listPromo.cond_subtotal}}</td>
									<td>{{listPromo.discount}}</td>
									<td>{{listPromo.from | date: 'dd/MMM/yyyy hh:mm a' }}</td>
									<td>{{listPromo.to | date: 'dd/MMM/yyyy hh:mm a'}}</td>
									<td>{{listPromo.uses_per_coupon}}</td>
									<td>{{listPromo.action == true ? 'Active':'Deactive'}}</td>
									<td>{{listPromo.created_at | date: 'dd/MMM/yyyy hh:mm a'}}</td>
									<td>
										<a routerLink="/promocode/edit/{{listPromo._id}}" style="cursor:pointer"><i
												class="mdi mdi-lead-pencil" aria-hidden="true"></i>
										</a>
										<a style="cursor:pointer;padding-left: 15px;" (click)="open(content,listPromo)"><i
												class="mdi mdi-close-box" aria-hidden="true"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pcommece-pagination" *ngIf="totalRecord > 0 && !searchText">
							<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
								(changePage)="onListChangePage($event)"></app-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #content let-modal style="z-index: 0;">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">PromoCode deletion</h4>
			<button type="button" class="btn btn-button" aria-describedby="modal-title"
				(click)="modal.dismiss('Cross click')">close</button>
		</div>
		<div class="modal-body">
			<p *ngIf="selectedPromo">
				<strong>Are you sure you want to delete <span class="text-primary">"{{selectedPromo.name}}"</span> PromoCode
					Data?</strong>
			</p>
			<p>
				All information associated to this Blog Image will be permanently deleted.
				<span class="text-danger">This operation can not be undone.</span>
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-button" (click)="modal.dismiss('cancel click')">Cancel</button>
			<button type="button" class="btn btn-button" (click)="deletePromocode()">Ok</button>
		</div>
	</ng-template>