.custom-logo {
	max-height: 100% !important;
	max-width: 120px !important;
	width: 70% !important;
	// @media(max-width:767px){
	// 	max-width: 70% !important;
	// }
}
.navbar-vertical .navbar-brand{
	@media(max-width:767px){
		text-align: center;
	}
}
