<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0">Customers List</h3>
				</div>
				<div class="card-body">
					<div class="col-md-12 mb-4">
						<div class="row">
							<div class="col-md-6">
								<input class="form-control" type="text" (keyup)="searchCustomer()" name="search"
									[(ngModel)]="searchText" autocomplete="off"
									placeholder="&#61442;  Start searching a Customer Image by name">
							</div>
							<div class="col-md-6"><button type="button" class="btn btn-button pull-right ml-auto mt-0"
									routerLink="/customer/add">Add Customer</button></div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>User Name</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Mobile</th>
									<th>Email</th>
									<th>Group</th>
									<th>Status </th>
									<th>Created At</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<td colspan="6" *ngIf="msg_danger">
									<div class="alert alert-dismissable" style="text-align: center;">
										Customer List is Empty
									</div>
								</td>
								<tr *ngFor="let listCustomer of CustomerData | filter:searchText; let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>{{listCustomer.username}}</td>
									<td>{{listCustomer.firstname}}</td>
									<td>{{listCustomer.lastname}}</td>
									<td>{{listCustomer.mobile}}</td>
									<td>{{listCustomer.email}}</td>
									<td>{{listCustomer.customer_group_name}}</td>
									<td>{{listCustomer.status == true ? 'Active':'Deactive'}}</td>
									<td>{{listCustomer.created_at | date: 'dd/MMM/yyyy hh:mm a'}}</td>
									<td>
										<a routerLink="/customer/edit/{{listCustomer._id}}" style="cursor:pointer"><i
												class="mdi mdi-lead-pencil" aria-hidden="true"></i>
										</a>
										<a style="cursor:pointer;padding-left: 15px;" (click)="open(content,listCustomer)"><i
												class="mdi mdi-close-box" aria-hidden="true"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pcommece-pagination" *ngIf="totalRecord > 0 && !searchText">
							<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
								(changePage)="onListChangePage($event)"></app-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #content let-modal style="z-index: 0;">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">Customer Data deletion</h4>
			<button type="button" class="btn btn-button" aria-describedby="modal-title"
				(click)="modal.dismiss('Cross click')">close</button>
		</div>
		<div class="modal-body">
			<p *ngIf="selectedCustomer">
				<strong>Are you sure you want to delete <span class="text-primary">"{{selectedCustomer.username}}"</span>
					Customer Data?</strong>
			</p>
			<p>
				All information associated to this Customer Data will be permanently deleted.
				<span class="text-danger">This operation can not be undone.</span>
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-button" (click)="modal.dismiss('cancel click')">Cancel</button>
			<button type="button" class="btn btn-button" (click)="deleteCustomer()">Ok</button>
		</div>
	</ng-template>