 
<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0">Product Category List</h3>
				</div>
				<div class="card-body">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<!-- <input class="form-control mt-4" type="text" (keyup)="searchSubCategory()" name="search" [(ngModel)]="searchText"
                                        autocomplete="off" placeholder="&#61442;  Start searching a SubCategory by name"> -->
							</div>
							<div class="col-md-6"><button type="button" class="btn btn-button pull-right ml-auto mb-4"
									routerLink="/subcategory/add">Add
									Product Category</button></div>
						</div>
						<!-- <div class="col-md-6">
						<h4 class="title"></h4>
					</div> -->
					</div>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>Product Category</th>
									<th>Collection Categories</th>
									<th>Collection Type</th>
									<th>Collections</th>
									<th>Status</th>
									<th>Created At</th>
									<th>Updated At</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<td colspan="5" *ngIf="msg_danger">
									<div class="alert alert-dismissable" style="text-align: center;">
										Product-Category List is Empty
									</div>
								</td>
								<tr *ngFor="let listCategory of CategoryData; let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>{{listCategory.name}}</td>
									<!-- <td *ngIf="listCategory.media_data && listCategory.media_data.length > 0">
									<img *ngIf="listCategory.media_data && listCategory.media_data[0].file_type =='image'"src="{{imagePath}}/category/{{listCategory.media_data[0].src}}" alt="logo" style="height: 100px;width: 100px;">
									<video *ngIf="listCategory.media_data && listCategory.media_data[0].file_type =='video'" width="100" height="100" controls>
									<source src="{{imagePath}}/category/{{listCategory.media_data[0].src}}" type="video/mp4">
									</video>
								</td> -->
								<td>
									<p *ngFor="let pcat of listCategory.parent_collection_categories">{{pcat.parent_collection_name}}</p>
								</td>
									<td>
										<p *ngFor="let pcat of listCategory.parent_category">{{pcat.parent_Category_name}}</p>
									</td>
									<td>
										<p *ngFor="let pcat of listCategory.parent_collection_data">{{pcat.name}}</p>
									</td>
									<td>{{listCategory.status == true ? 'Enabled':'Disable'}}</td>
									<td>{{listCategory.created_at | date:'dd/MM/YYYY HH:MM:a'}}</td>
									<td>{{listCategory.updated_at | date:'dd/MM/YYYY HH:MM:a'}}</td>
									<td>
										<a routerLink="/subcategory/edit/{{listCategory._id}}" style="cursor:pointer"><i
												class="mdi mdi-lead-pencil" aria-hidden="true"></i>
										</a>
										<a style="cursor:pointer;padding-left: 15px;" (click)="open(content,listCategory)"><i
												class="mdi mdi-close-box" aria-hidden="true"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pcommece-pagination1" *ngIf="totalRecord > 0 ">
							<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
								(changePage)="onListChangePage($event)"></app-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #content let-modal style="z-index: 0;">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">Sub-Category</h4>
			<button type="button" class="btn btn-button" aria-describedby="modal-title"
				(click)="modal.dismiss('Cross click')">close</button>
		</div>
		<div class="modal-body">
			<p *ngIf="selectedSubcategory">
				<strong>Are you sure you want to delete <span class="text-primary">"{{selectedSubcategory.name}}"</span>
					Collection?</strong>
			</p>
			<p>
				All information associated to this Collection will be permanently deleted.
				<span class="text-danger">This operation can not be undone.</span>
			</p>
		</div>
		<div class="modal-footer d-flex">
			<button type="button" class="btn btn-button mr-2" (click)="modal.dismiss('cancel click')">Cancel</button>
			<button type="button" class="btn btn-button" (click)="deletesubCategory()">Ok</button>
		</div>
	</ng-template>