.pcommece-pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #373330;
}
::ng-deep{
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
}